.nav li.nav-nested__trigger {
  & > a.sub-btn {
    color: #222;
  }

  &:not(:hover) > a.dim-on-hover {
    opacity: 0.25;
  }

  & > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.nav-nested__container {
  background-color: #fff;
}

.nav-nested > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #5a5a5a;
}
