<mail-menu__header></mail-menu__header>
<ul class="nav nav-sidebar nav-hrz items-4 shorcuts divider--top">
  <li>
    <a class="line-height_0">
      <i matIcon="mail"></i>
      <span class="badge" style="position:absolute; left: calc(50% + 5px)">{{ 5 }}</span>
    </a>
  </li>
  <li><a matIcon="mail"></a></li>
  <li><a matIcon="mail"></a></li>
  <li><a matIcon="mail"></a></li>
</ul>
<ul class="nav nav-sidebar divider--top">
  <li class=""><a href="#">Overview <span class="sr-only">(current)</span></a></li>
  <li class="active dir--left">
    <a href="#">Reports</a>
    <a href="#" class="sub-btn"><span class="glyphicon glyphicon-search"></span></a>
  </li>
  <li><a href="#">Analytics</a></li>
  <li class="dir--left">
    <a>
      <span class="valign-item">휴지통&nbsp;</span>
      <span class="badge" *ngIf="5 as value">{{ value }}</span></a>
    <a class="sub-btn nbsp-4">
      <i matIcon="delete" class="absolute-center"></i>
    </a>
  </li>
</ul>
<ul class="nav nav-sidebar divider--top" [style.margin-bottom]="0">
  <li class="dir--left nav-nested__trigger">
    <a (click)="personbox_toggle=!personbox_toggle" class="valign-container">
      <i class="valign-item" [matIcon]="personbox_toggle ? 'keyboard_arrow_down' : 'keyboard_arrow_right'"></i>
      <span class="valign-item">개인메일함</span>
    </a>
    <a class="sub-btn dim-on-hover nbsp-4"
        (click)="openMailboxPopup()"
        cdkOverlayOrigin #boxnameOrigin="cdkOverlayOrigin">
      <i matIcon="create_new_folder" class="absolute-center"></i>
    </a>
  </li>
  <li class="nav-nested__container" *ngIf="personbox_toggle">
    <mailbox-tree [nodes]="nodes" [isRemovable]="true" (nodeSelect)="onNodeSelect($event)"></mailbox-tree>
  </li>
</ul>
<ul class="nav nav-sidebar divider--top">
  <li class="dir--left nav-nested__trigger">
    <a class="valign-container" (click)="tagname_toggle=!tagname_toggle">
      <i class="valign-item" [matIcon]="tagname_toggle ? 'keyboard_arrow_down' : 'keyboard_arrow_right'"></i>
      <span class="valign">태그</span>
    </a>
    <a class="sub-btn dim-on-hover nbsp-4"
        (click)="openTagnamePopup()"
        cdkOverlayOrigin #tagnameOrigin="cdkOverlayOrigin">
      <i matIcon="create_new_folder" class="absolute-center"></i>
    </a>
  </li>
  <li class="nav-nested__container" *ngIf="tagname_toggle">
    <mail-menu__tag></mail-menu__tag>
  </li>
</ul>
<mail-menu__footer></mail-menu__footer>
