<ul class="nav nav-nested">
  <li *ngFor="let tag of mailtag_list; let i=index" class="tag-item nav-nested__trigger"
    [class.active]="tag.selected">
    <a class="tag-info valign-container" (click)="goRouterLink(8, tag.name)">
      <i class="valign-item" matIcon="label" style.color="{{ tag.color }}"></i>
      <strong class="valign-item">&nbsp;{{ tag.name }}</strong>
    </a>
    <a class="sub-btn dim-on-hover" matIcon="clear" (click)="removeMailTag(tag.name)"></a>
  </li>
</ul>
