<tabset type="pills">
  <tab heading="메일자동전달">
    <mail-conf-spam-allow-deny></mail-conf-spam-allow-deny>
  </tab>
  <tab heading="메일함관리">
    <mail-conf-spam-config></mail-conf-spam-config>
  </tab>
  <tab heading="메일자동분류">
      <mail-conf-mailbox-forward></mail-conf-mailbox-forward>
    </tab>
  <tab heading="메일자동전달">
      <mail-conf-mailbox-filter></mail-conf-mailbox-filter>
    </tab>
  <tab heading="메일자동전달">
    <mail-conf-etc-sign></mail-conf-etc-sign>
  </tab>
</tabset>
