@import 'variables';
@import 'mixins';

header {
  @include _header;
  @include _headerTitleFontStyle;
  position: relative;
  margin-bottom: 8px;
  border-bottom: none;

  .nav-tabs {
    position: absolute;
    font-size: 18px;
    padding-left: $mainSidePadding;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.conf-main {
  padding: {
    left: $mainSidePadding;
    right: $mainSidePadding;
    bottom: 10px;
  }

  height: calc(100% - #{$headerHeight} - 8px);
}
