<header>
  <span class="conf-title">환경설정</span>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active"><a [routerLink]="['/legacy/mail/conf/basic']">기본설정</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/legacy/mail/conf/mailbox']">메일함설정</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/legacy/mail/conf/spam']">스팸설정</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/legacy/mail/conf/etc']">부가기능</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/legacy/mail/conf/manual']">메뉴얼</a></li>
  </ul>
</header>
<section class="conf-main">
  <mail-conf-tab></mail-conf-tab>
  <!-- <router-outlet></router-outlet> -->
</section>
