<h3 class="dialog-title">
  수신인 선택
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>

<section class="dialog-content">

	<div class="search-controls">
    <div class="input-group">
      <input type="text" class="form-control search-bar">
      <span class="input-group-btn">
        <button class="btn btn-primary icon-small" matIcon="search" (click)="searchContacts($event)"></button>
      </span>
    </div>
		<bs-checkbox [(ngModel)]="includeChildren">하위요소포함</bs-checkbox>
  </div>

	<div class="contacts-panel">
    <div class="contacts-lists">
      <accordion>
        <accordion-group [isOpen]="contactsStep===0" (isOpenChange)="setContactsStep(0, $event)">
          <header accordion-heading>조직도<i class="arrow">&nbsp;</i></header>
          <!-- <lgc-contacts-dept-selector #deptContacts [includeChildren]="includeChildren"></lgc-contacts-dept-selector> -->
        </accordion-group>
        <accordion-group [isOpen]="contactsStep===1" (isOpenChange)="setContactsStep(1, $event)">
          <header accordion-heading>개인주소록<i class="arrow">&nbsp;</i></header>
          <!-- <lgc-contacts-person-selector #personContacts [includeChildren]="includeChildren"></lgc-contacts-person-selector> -->
        </accordion-group>
        <accordion-group [isOpen]="contactsStep===2" (isOpenChange)="setContactsStep(2, $event)">
          <header accordion-heading>공용주소록<i class="arrow">&nbsp;</i></header>
          <!-- <lgc-contacts-common-selector #commonContacts [includeChildren]="includeChildren"></lgc-contacts-common-selector> -->
        </accordion-group>
        <accordion-group [isOpen]="contactsStep===3" (isOpenChange)="setContactsStep(3, $event)">
          <header accordion-heading>직급<i class="arrow">&nbsp;</i></header>
          <!-- <lgc-contacts-role-selector #roleContacts></lgc-contacts-role-selector> -->
        </accordion-group>
        <accordion-group [isOpen]="contactsStep===4" (isOpenChange)="setContactsStep(4, $event)">
          <header accordion-heading>직책<i class="arrow">&nbsp;</i></header>
          <!-- <lgc-contacts-position-selector #positionContacts></lgc-contacts-position-selector> -->
        </accordion-group>
      </accordion>
    </div>
					
		<div class="contacts-actions">
      <button type="button" class="btn btn-default" (click)="addContacts(0)">받는사람</button>
      <button type="button" class="btn btn-default" (click)="addContacts(1)">참조</button>
      <button type="button" class="btn btn-default" (click)="addContacts(2)">숨은참조</button>
		</div>
			
		<div class="contacts-results panel-group">
      <div class="panel panel-default">
        <header class="panel-heading">To(받는사람)</header>
        <div class="panel-body">
          <div class="contact-item" *ngFor="let contact of contact_to_list;let i=index;">
            <span class="content-area">{{ contact | from_name_email }}</span>
            <span class="side-content"><i role="button" class=" icon-small" matIcon="clear" (click)="deleteContacts(0,i)"></i></span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <header class="panel-heading">Cc(참조)</header>
        <div class="panel-body">
          <div class="contact-item" *ngFor="let contact of contact_cc_list;let i=index;">
            <span class="content-area">{{ contact | from_name_email }}</span>
            <span class="side-content"><i role="button" class=" icon-small" matIcon="clear" (click)="deleteContacts(1,i)"></i></span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <header class="panel-heading">Bcc(숨은참조)</header>
        <div class="panel-body">
          <div class="contact-item" *ngFor="let contact of contact_bcc_list;let i=index;">
            <span class="content-area">{{ contact | from_name_email }}</span>
            <span class="side-content"><i role="button" class=" icon-small" matIcon="clear" (click)="deleteContacts(2,i)"></i></span>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>			

<footer class="dialog-actions">
	<button type="button" class="btn btn-success" (click)="okContacts()">확인</button>
	<button type="button" class="btn btn-default" (click)="cancelContacts()">취소</button>
</footer>
