aside.boxlist {
  width: 256px;
}

.box-select-form {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #ddd solid;
  background-color: #fff;
}

.popup-controls {
  margin-top: 10px;
  text-align: right;
}
