<ng-template cdkPortal>
  <aside #popupContainer class="layer boxlist">
    <div class="valign-container">
      <span class="valign-item">메일함 선택</span>
      <button type="button" class="close valign-item" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="box-select-form">
      <mailbox-tree [nodes]="nodes"></mailbox-tree>
    </div>
    <div class="popup-controls">
      <button type="button" class="btn btn-success" *ngIf="useMove" (click)="move()">이동</button>
      <button type="button" class="btn btn-success" *ngIf="useCopy" (click)="copy()">복사</button>
      <button type="button" class="btn btn-default" (click)="cancel()">취소</button>
    </div>
  </aside>
</ng-template>
