@import 'mixins';

:host {
  text-align: left;
  display: block;
  padding: 10px 20px;
}

.dialog-content {
  white-space: nowrap;
  & > .panel {
    display: inline-block;
    width: 240px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.dialog-actions {
  @include _footerButtons;
}

