<h3 class="dialog-title">
    수신자 없음
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>

<div class="dialog-content">
	<div class="panel panel-default" *ngIf="nouser_to_list.length">
    <div class="panel-heading">
      <h3 class="panel-title">받는사람</h3>
    </div>
    <div class="panel-body">
      <p *ngFor="let contact of nouser_to_list;let i=index;">
        <span>{{ contact | from_name_email }}</span><!-- <mat-icon class="md-18" (click)="deleteContact(i)">clear</mat-icon> -->
      </p>
    </div>
  </div>
  <div class="panel panel-default" *ngIf="nouser_cc_list.length">
    <div class="panel-heading">
      <h3 class="panel-title">참조</h3>
    </div>
    <div class="panel-body">
      <p *ngFor="let contact of nouser_cc_list;let i=index;">
        <span>{{ contact | from_name_email }}</span><!-- <mat-icon class="md-18" (click)="deleteContact(i)">clear</mat-icon> -->
      </p>
    </div>
  </div>
  <div class="panel panel-default" *ngIf="nouser_bcc_list.length">
    <div class="panel-heading">
      <h3 class="panel-title">숨은참조</h3>
    </div>
    <div class="panel-body">
      <p *ngFor="let contact of nouser_bcc_list;let i=index;">
        <span>{{ contact | from_name_email }}</span><!-- <mat-icon class="md-18" (click)="deleteContact(i)">clear</mat-icon> -->
      </p>
    </div>
  </div>
</div>

<footer class="dialog-actions">
  <button type="button" class="btn btn-default" (click)="modalRef.hide()">취소</button>
</footer>
