.popup-group-selector {
  tree-root {
    display: block;
    width: 256px;
  }
  .node-wrapper {
    position: relative;
    display: table;
    width: 100%;
  
    & > .node-expander,
    & > .node-content-wrapper {
      position: relative;
      display: table-cell;
      white-space: nowrap;
      width: auto;
      vertical-align: middle;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #222;
  
      &:hover {
        box-shadow: none;
        text-decoration: none;
        background-color: #eee;
      }
    }
  }
  
  .node-expander,
  .node-remover {
    &:not(:hover) {
      opacity: 0.25;
    }
  }
  
  .tree-node-leaf .node-expander:hover {
    background-color: transparent;
    cursor: default;
  }
  
  $nedp: 10px;

  .node-expander {
    padding-right: 0;
    box-sizing: content-box;
    padding-left: calc(#{$nedp} + 5 * 20px);
  }
  
  .tree-node-level-1 > .node-wrapper > .node-expander {
    padding-left: calc(#{$nedp} + 0 * 20px);
  }
  
  .tree-node-level-2 > .node-wrapper > .node-expander {
    padding-left: calc(#{$nedp} + 1 * 20px);
  }
  
  .tree-node-level-3 > .node-wrapper > .node-expander {
    padding-left: calc(#{$nedp} + 2 * 20px);
  }
  
  .tree-node-level-4 > .node-wrapper > .node-expander {
    padding-left: calc(#{$nedp} + 3 * 20px);
  }
  
  .tree-node-level-5 > .node-wrapper > .node-expander {
    padding-left: calc(#{$nedp} + 4 * 20px);
  }

  .node-wrapper > .node-content-wrapper {
    width: 100%;
    padding-left: 0;
  }  

  .node-wrapper > .bs-checkbox {
    display: table-cell;
    vertical-align: middle;
  }

  footer {
    margin-top: 8px;
  }
}

.popup-reserved {
  .base-time,
  .reserve-time {
    margin-bottom: 20px;

    & > label {
      display: block;
    }
  }
  $width-timezone: 256px;
  $width-hour: 56px;

  .base-time .timezone {
    width: $width-timezone;
  }

  .reserve-date,
  .reserve-hour,
  .reserve-minute {
    display: inline-block;
  }

  .reserve-hour,
  .reserve-minute {
    margin-left: 5px;
    text-align: right;
  }

  .reserve-date {
    width: $width-timezone - 5px*2 - $width-hour*2;
  }

  .reserve-hour,
  .reserve-minute {
    width: $width-hour;
  }
}
