a
<ng-template cdkPortal #groupSelector="cdkPortal">
  <aside class="popup popup-group-selector">
    <div>
      소속그룹 선택
      <button type="button" class="close" aria-label="Close" (click)="closeGrouplistLayer()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <tree-root class="padding-reset"
        [nodes]="nodeDatas"
        [focused]="true"
        [options]="{ idField:'sn' }"
        (blur)="onGroupBlur($event)"
        (activate)="onGroupActivate($event)">
      <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
        <div [ngClass]="node.getClass()" class="tree-node" [class.tree-node-leaf]="node.isLeaf">
          <div class="node-wrapper">
            <a class="node-expander line-height_0" (click)="node.mouseAction('expanderClick', $event)">
              <i *ngIf="node.hasChildren" [matIcon]="node.isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'"></i>
              <i *ngIf="!node.hasChildren" matIcon="keyboard_arrow_down" style="opacity: 0"></i>
            </a>
            <bs-checkbox *ngIf="multiple" [(ngModel)]="node.data.checked">&nbsp;</bs-checkbox>
            <a class="node-content-wrapper"
                [class.node-content-wrapper-active]="node.isActive"
                [class.node-content-wrapper-focused]="node.isFocused"
                (click)="node.mouseAction('click', $event);">
              {{ node.data.name }}
            </a>
          </div>
          <tree-node-children [node]="node" [templates]="templates">
          </tree-node-children>
        </div>
      </ng-template>
    </tree-root>
    <footer *ngIf="multiple" class="text-center">
      <button type="button" class="btn btn-success" (click)="ok()">확인</button>&ngsp;
      <button type="button" class="btn btn-default" (click)="cancel()">취소</button>
    </footer>
  </aside>
</ng-template>

<!-- Template to load into an overlay. -->
<ng-template cdkPortal #reserveOptionPopup="cdkPortal">
	<aside class="popup popup-reserved">
    <div class="base-time">
      <label>기준시간</label>
      <bs-select name="timezone" class="form-group-sm timezone" [(ngModel)]="reserved.timezone">
        <bs-option value="-12">GMT -12:00 (날짜 변경선 서쪽)</bs-option> 
        <bs-option value="-11">GMT -11:00 (미드웨이 아일랜드, 사모아)</bs-option>
        <bs-option value="-10">GMT -10:00 (하와이)</bs-option>
        <bs-option value="-9.5">GMT -09:30 (마퀘사스)</bs-option>
        <bs-option value="-9">GMT -09:00 (알래스카)</bs-option>
        <bs-option value="-8.5">GMT -08:30 (피칸)</bs-option>
        <bs-option value="-8">GMT -08:00 (태평양 표준시)</bs-option>
        <bs-option value="-7">GMT -07:00 (산지 표준시_미국/캐나다)</bs-option>
        <bs-option value="-6">GMT -06:00 (중부 표준시_미국/캐나다)</bs-option>
        <bs-option value="-5">GMT -05:00 (동부 표준시_미국/캐나다)</bs-option>
        <bs-option value="-4.5">GMT -04:30 (카라카스)</bs-option>
        <bs-option value="-4">GMT -04:00 (대서양 표준시)</bs-option>
        <bs-option value="-3.5">GMT -03:30 (뉴펀들랜드)</bs-option>
        <bs-option value="-3">GMT -03:00 (부에노스아이레스)</bs-option>
        <bs-option value="-2">GMT -02:00 (중앙 대서양)</bs-option>
        <bs-option value="-1">GMT -01:00 (아조레스)</bs-option>
        <bs-option value="+0">GMT +00:00 (그리니치 표준시_런던)</bs-option>
        <bs-option value="+1">GMT +01:00 (암스테르담, 베를린, 빈)</bs-option>
        <bs-option value="+2">GMT +02:00 (아테네, 카이로)</bs-option>
        <bs-option value="+3">GMT +03:00 (모스크바, 바그다드)</bs-option>
        <bs-option value="+3.5">GMT +03:30 (테헤란)</bs-option>
        <bs-option value="+4">GMT +04:00 (바쿠, 무스카트)</bs-option>
        <bs-option value="+4.5">GMT +04:30 (카불)</bs-option>
        <bs-option value="+5">GMT +05:00 (카라치)</bs-option>
        <bs-option value="+5.5">GMT +05:30 (뉴델리, 뭄바이)</bs-option>
        <bs-option value="+5.75">GMT +05:45 (카트만두)</bs-option>
        <bs-option value="+6">GMT +06:00 (아스타나, 다카)</bs-option>
        <bs-option value="+6.5">GMT +06:30 (양곤)</bs-option>
        <bs-option value="+7">GMT +07:00 (방콕, 하노이, 자카르타)</bs-option>
        <bs-option value="+8">GMT +08:00 (베이징, 싱가폴, 타이베이)</bs-option>
        <bs-option value="+9">GMT +09:00 (서울, 도쿄)</bs-option>
        <bs-option value="+9.5">GMT +09:30 (다윈, 아델라이드)</bs-option>
        <bs-option value="+10">GMT +10:00 (괌, 캔버라, 시드니)</bs-option>
        <bs-option value="+10.5">GMT +10:30 (로드 호우 아일랜드)</bs-option>
        <bs-option value="+11">GMT +11:00 (뉴 칼레도니아)</bs-option>
        <bs-option value="+11.5">GMT +11:30 (노포크 아일랜드)</bs-option>
        <bs-option value="+12">GMT +12:00 (오클랜드,피지)</bs-option>
      </bs-select>
    </div>
    <div class="reserve-time form-group-sm">
      <label>예약시간</label>
      <input name="date" class="form-control reserve-date" [(ngModel)]="reserved_date" placeholder="날짜 선택" bsDatepicker>
      <bs-select name="hour" class="reserve-hour" placeholder="--" [(ngModel)]="reserved.hour">
        <bs-option *ngFor="let hour of reserved.option_hours" [value]="hour">{{ hour }}시</bs-option>
      </bs-select>
      <bs-select name="minute" class="reserve-minute" placeholder="--" [(ngModel)]="reserved.minute">
        <bs-option *ngFor="let minute of reserved.option_minutes" [value]="minute">{{ minute }}분</bs-option>
      </bs-select>
    </div>
    
    <footer class="btn-toolbar">
      <button type="button" class="btn btn-success" (click)="okReserved($event)">확인</button>
      <button type="button" class="btn btn-default" (click)="cancelReserved($event)">취소</button>
    </footer>
	</aside>
</ng-template>

<ng-template cdkPortal #replyTemplate="cdkPortal">
  <aside class="popup popup-reply" (mouseleave)="closePopup()">
    <header>
      <ng-container *ngIf="isReplyAll">전체</ng-container>답장시간: {{reply_time}}
      <button type="button" class="close" aria-label="Close" (click)="closePopup()"><span aria-hidden="true">&times;</span></button>
    </header>
    <section class="">
      <ul class="list-unstyled">
        <li *ngFor="let email of reply_list;let i=index;">{{email}}</li>
      </ul>
    </section>
    <footer>
      <button class="btn btn-primary" (click)="viewDetail($event,reply_sn);">상세보기</button>
    </footer>
  </aside>
</ng-template>

<ng-template cdkPortal #forwardTemplate="cdkPortal">
  <aside class="popup popup-forward" (mouseleave)="closePopup()">
    <header>
      전달시간: {{forward_time}}
      <button type="button" class="close" aria-label="Close" (click)="closePopup()"><span aria-hidden="true">&times;</span></button>
    </header>
    <section class="">
      <ul class="list-unstyled">
        <li *ngFor="let email of forward_list;let i=index;">{{email}}</li>
      </ul>
    </section>
    <footer>
      <button class="btn btn-primary" (click)="viewDetail($event,forward_sn);">상세보기</button>
    </footer>
  </aside>
</ng-template>

<ng-template cdkPortal #uploadfilePortal="cdkPortal">
	<aside class="layer popup-upload-eml">
    <header>
      .eml 올리기
      <button type="button" class="close" aria-label="Close" (click)="closeUploadfileLayer()"><span aria-hidden="true">&times;</span></button>
    </header>
    <section class="form-inline">
      <label class="input-group">
        <div class="input-group-btn">
          <div class="btn btn-success">파일 선택</div>
        </div>
        <input type="file" class="sr-only" [(ngModel)]="filename" (change)="changeUploadfile($event)" size="10" name="uploadfile" />
        <div class="form-control">{{ filename || '파일을 선택하세요' }}</div>
      </label>
		</section>
		<footer class="btn-group">
			<button class="btn btn-primary" (click)="okUploadfile($event)">확인</button>
			<button class="btn btn-primary" (click)="cancelUploadfile($event)">취소</button>
		</footer>
	</aside>
</ng-template>
