<h3 class="dialog-title">
  수신인 선택
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>
<tabset>
	<tab heading="최근발신주소">
    <div class="contact-item" *ngFor="let recent of recent_list;let i=index;">
      <span class="content-area">{{ recent | from_name_email }}</span>
      <span class="side-content"><i role="button" class="icon-small" matIcon="clear" (click)="deleteRecentEmail(1,i)"></i></span>
    </div>
	</tab>
	<tab heading="중요주소">
    <div class="contact-item" *ngFor="let important of important_list;let i=index;">
      <span class="content-area">{{ important | from_name_email }}</span>
      <span class="side-content"><i role="button" class="icon-small" matIcon="clear" (click)="deleteImportantEmail(1,i)"></i></span>
    </div>
	</tab>
</tabset>
