.layer.set-tag__container {
  background-color: #f5f5f5;
  border-width: 0;
}

.set-tag__container > h3 {
  margin-top: 10px;
}

.set-tag__container > footer {
  margin-top: 10px;
}

.tag-list {
  padding: 0;
}

.tag-list > li {
  list-style-type: none;
}

.tag-list > li > .material-icons {
  vertical-align: middle;
}
