<ng-template cdkPortal>
  <aside class="layer set-tag__container">
    <h3>
      태그 설정<button type="button" class="close" aria-label="Close" (click)="closePopup()"><span aria-hidden="true">&times;</span></button>
    </h3>
    <section class="form-inline">
      <ul class="tag-list">
        <li *ngFor="let tag of _css.mailtag_list;let i=index" [class.checked]="tag.checked" (click)="tag.checked=!tag.checked">
          <i matIcon="label" class="icon-small" style.color="{{tag.color}}"></i> {{tag.name}}
        </li>
      </ul>
      <div class="form-group">
        <input type="text" class="form-control" size="13" class="form-control" />
      <!-- <input [focusing]="focusSetTagEmitter" (keydown)="handleSetTagEnter($event)" type="text" size="13" class="form-control" name="new_tagname" [(ngModel)]="new_tagname" required #tagname="ngModel" /> -->
      </div>
      <button class="btn btn-success" (click)="addSetTagName($event);">등록</button>
    </section>
    <footer>
      <button class="btn btn-success" (click)="okSetTag($event);">설정</button>
      <button class="btn btn-default" (click)="cancelSetTag($event);">취소</button>
    </footer>
  </aside>
</ng-template>
