<tree-root class="padding-reset" #tree [nodes]="nodes" [options]="{ idField: 'sn' }">
  <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
    <div [ngClass]="node.getClass()" class="tree-node" [class.tree-node-leaf]="node.isLeaf">
      <div class="node-wrapper">
        <a class="node-expander line-height_0" (click)="node.mouseAction('expanderClick', $event)">
          <i *ngIf="node.hasChildren" [matIcon]="node.isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'"></i>
          <i *ngIf="!node.hasChildren" matIcon="keyboard_arrow_down" style="opacity: 0"></i>
        </a>
        <a class="node-content-wrapper"
            [class.node-content-wrapper-active]="node.isActive"
            [class.node-content-wrapper-focused]="node.isFocused"
            (click)="node.mouseAction('click', $event); nodeSelect.emit(node.data)">
          <span>{{ node.data.name }} </span>
          <span class="badge" *ngIf="node.data.notread">{{ node.data.notread }}</span>
        </a>
        <ng-container *ngIf="isRemovable">
          <a class="node-remover icon-small" matIcon="clear" (click)="removeBox(node.data.sn)"></a>
        </ng-container>
      </div>
      <tree-node-children [node]="node" [templates]="templates">
      </tree-node-children>
    </div>
  </ng-template>
</tree-root>
