.node-wrapper {
  position: relative;
  display: table;
  width: 100%;

  & > .node-expander,
  & > .node-content-wrapper,
  & > .node-remover {
    position: relative;
    display: table-cell;
    white-space: nowrap;
    width: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #222;

    &:hover {
      box-shadow: none;
      text-decoration: none;
      background-color: #eee;
    }
  }
}

.node-expander,
.node-remover {
  &:not(:hover) {
    opacity: 0.25;
  }
}

.tree-node-leaf .node-expander:hover {
  background-color: transparent;
  cursor: default;
}

$nedp: 20px;

.node-expander {
  padding-right: 0;
  box-sizing: content-box;
  padding-left: calc(#{$nedp} + 5 * 20px);
}

.tree-node-level-1 > .node-wrapper > .node-expander {
  padding-left: calc(#{$nedp} + 0 * 20px);
}

.tree-node-level-2 > .node-wrapper > .node-expander {
  padding-left: calc(#{$nedp} + 1 * 20px);
}

.tree-node-level-3 > .node-wrapper > .node-expander {
  padding-left: calc(#{$nedp} + 2 * 20px);
}

.tree-node-level-4 > .node-wrapper > .node-expander {
  padding-left: calc(#{$nedp} + 3 * 20px);
}

.tree-node-level-5 > .node-wrapper > .node-expander {
  padding-left: calc(#{$nedp} + 4 * 20px);
}

.node-remover {
  padding-left: 6px;
  padding-right: 6px;
}

.node-content-wrapper {
  & > .badge {
    background-color: #337ab7;
  }
}

.node-wrapper > .node-content-wrapper {
  width: 100%;
  padding-left: 0;
}
