<ng-content></ng-content>
<div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0)" dropdownToggle (click)="__()" *ngIf="__activated"></div>
<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
  <li (click)="savePC()"><a> PC저장 </a></li>
  <li (click)="movePOP()" [class.disabled]="isTemporary || isSent"><a> POP가져가기 </a></li>
  <li (click)="setReadMail()"><a> 읽음 </a></li>
  <li (click)="setNotreadMail()"><a> 읽지않음 </a></li>
  <li (click)="setLockMail()"><a> 잠금설정 </a></li>
  <li (click)="setUnlockMail()"><a> 잠금해제 </a></li>
  <li><a [class.disabled]="isTemporary || isSent" [routerLink]="['/mail/write',{mode:'re',mail_sn:sn}]"> 답장 </a></li>
  <li><a [class.disabled]="isTemporary || isSent" [routerLink]="['/mail/write',{mode:'ra',mail_sn:sn}]"> 전체답장 </a></li>
  <li><a [class.disabled]="isTemporary" [routerLink]="['legacy/mail/write',{mode:'fw',mail_sn:sn}]"> 전달 </a></li>
  <li (click)="resendMail()"><a [class.disabled]="!isSent"> 다시보내기 </a></li>
  <li (click)="toTrashMail()"><a [class.disabled]="s_mailbox==0"> 삭제 </a></li>
  <li (click)="removeMail()"><a [class.disabled]="s_mailbox!=0"> 완전삭제 </a></li>
  <li (click)="restoreMail()"><a [class.disabled]="s_mailbox!=0"> 복원 </a></li>
</ul>
