<!-- 헤더 좌측 -->
<div class="btn-toolbar pull-left">
  <!-- 체크박스 & 드랍다운 -->
  <div dropdown class="btn-group" container="body">
    <label type="button" class="btn btn-default" style="line-height: 0">
      <bs-checkbox [(ngModel)]="checkAll" (ngModelChange)="goCheckAllMenu()"></bs-checkbox>
    </label>
    <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu">
      <li><a (click)="selectAllChecked()" class="dropdown-item">모두 선택</a></li>
      <li><a (click)="cancelAllChecked()" class="dropdown-item">모두 해제</a></li>
    </ul>
  </div>

  <!-- If 휴지통 -->
  <ng-container *ngIf="isTrash">
    <div class="btn-group">
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        (click)="removeMail()">완전삭제</button>
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        (click)="restoreMail()">복원</button>
    </div>
  </ng-container>

  <!-- If Not 휴지통 -->
  <ng-container *ngIf="!isTrash">
    <div class="btn-group">
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        (click)="toTrashMail()">삭제</button>
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        *ngIf="!(isTemporary || isSent)"
        (click)="informSpam()">스팸</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        *ngIf="!(isTemporary || isSent)"
        (click)="replyMail()">답장</button>
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        *ngIf="!(isTemporary || isSent)"
        (click)="replyAllMail()">전체답장</button>
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        *ngIf="!isTemporary"
        (click)="forwardMail()">전달</button>
      <button type="button" class="btn btn-default" [disabled]="NoSelect"
        *ngIf="isSent"
        (click)="resendMail()">다시보내기</button>
    </div>
    <ng-container *ngIf="!(isTemporary || isSent)">
      <button type="button" class="btn btn-default" [disabled]="NoSelect" #movecopyPopupBtn
        (click)="movecopyPopup.openPopup()">이동</button>
      <movecopy-popup [class.disabled]="NoSelect" #movecopyPopup="movecopyPopup"
        [_origin]="movecopyPopupBtn"
        [useMove]="true"
        [useCopy]="false"
        (onMoveDone)="moveDone($event)"
        (onCopyDone)="copyDone($event)">
      </movecopy-popup>
    </ng-container>
    <div dropdown class="btn-group" container="body">
      <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" [disabled]="NoSelect">
        <span style="opacity: 0" ngPreserveWhitespaces>&nbsp;&nbsp;</span>
        <i matIcon="more_vert" class="absolute-center"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu">
        <li (click)="savePC()">
          <a class="dropdown-item" [class.disabled]="NoSelect">PC 저장</a>
        </li>
        <li (click)="movePOP()" *ngIf="!(isTemporary || isSent)">
          <a class="dropdown-item" [class.disabled]="NoSelect">POP 가져가기</a>
        </li>
        <li (click)="openUploadEml()" cdkOverlayOrigin #uploadfileOrigin="cdkOverlayOrigin">
          <a class="dropdown-item">EML 올리기</a>
        </li>
        <li (click)="setReadMail()">
          <a class="dropdown-item" [class.disabled]="NoSelect">읽음</a>
        </li>
        <li (click)="setNotreadMail()">
          <a class="dropdown-item" [class.disabled]="NoSelect">읽지않음</a>
        </li>
        <li (click)="setLockMail()">
          <a class="dropdown-item" [class.disabled]="NoSelect">잠금설정</a>
        </li>
        <li (click)="setUnlockMail()">
          <a class="dropdown-item" [class.disabled]="NoSelect">잠금해제</a>
        </li>
      </ul>
    </div>
  </ng-container>
</div>

<!-- 헤더 우측 -->
<div class="btn-toolbar pull-right">
  <div dropdown class="btn-group" container="body">
    <button dropdownToggle type="button" class="class btn btn-default dropdown-toggle">
      필터
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu">
      <li><a class="dropdown-item" (click)="filterList('all')">전체메일</a></li>
      <li><a class="dropdown-item" (click)="filterList('notread')">안읽은메일</a></li>
      <li><a class="dropdown-item" (click)="filterList('lock')">잠금메일</a></li>
      <li><a class="dropdown-item" (click)="filterList('attach')">첨부메일</a></li>
      <li><a class="dropdown-item" (click)="filterList('important')">중요메일</a></li>
      <li><a class="dropdown-item" (click)="filterList('tag')">태그메일</a></li>
    </ul>
  </div>
  <div dropdown class="btn-group" container="body">
    <button dropdownToggle type="button" class="class btn btn-default dropdown-toggle">
      정렬
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu">
      <li (click)="sortList('date')">
        <a class="dropdown-item">시간순</a>
      </li>
      <li (click)="sortList('from')" *ngIf="!(isTemporary || isSent)">
        <a class="dropdown-item">보낸사람</a>
      </li>
      <li (click)="sortList('to')" *ngIf="isTemporary || isSent">
        <a class="dropdown-item">받는사람</a>
      </li>
      <li (click)="sortList('subject')">
        <a class="dropdown-item">제목</a>
      </li>
    </ul>
  </div>
  <div dropdown class="btn-group" container="body" placement="right">
    <button type="button" dropdownToggle class="class btn btn-default dropdown-toggle">
      <span style="opacity: 0">정렬</span>
      <i matIcon="schedule" class="absolute-center"></i>
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
      <li>
        <a class="dropdown-item"
          (click)="gatherList('normal')">날짜순</a>
      </li>
      <li>
        <a class="dropdown-item"
          (click)="gatherList('time')">날짜순(그룹)</a>
      </li>
      <li>
        <a class="dropdown-item"
          (click)="gatherList('talk')">대화형</a>
      </li>
      <li *ngIf="!(isTemporary || isSent)">
        <a class="dropdown-item"
          (click)="gatherList('from')">보낸사람별</a>
      </li>
      <li *ngIf="isTemporary || isSent">
        <a class="dropdown-item"
          (click)="gatherList('to')">받는사람별</a>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="!isTemporary">
    <div dropdown class="btn-group" container="body" placement="right">
      <button dropdownToggle type="button" class="class btn btn-default dropdown-toggle">
          <span style="opacity: 0">보기</span>
        <i matIcon="view_list" class="absolute-center"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <li (click)="setListingType('NOR')">
          <a class="dropdown-item">목록보기</a>
        </li>
        <li (click)="setListingType('VER')">
          <a class="dropdown-item">좌우분할</a>
        </li>
        <li (click)="setListingType('HOR')">
          <a class="dropdown-item">상하분할</a>
        </li>
      </ul>
    </div>
  </ng-container>
  <button type="button" class="btn btn-default"
    *ngIf="MAIL_LISTING_TYPE !== 'NOR'"
    (click)="printMail()">인쇄</button>
</div>

<ng-template cdk-portal #uploadfilePortal="cdkPortal">
  <aside class="layer uploadFile">
      <header>
        .eml 올리기<button type="button" class="close" aria-label="Close" (click)="closeUploadfileLayer()"><span aria-hidden="true">&times;</span></button>
      </header>
    
      <section class="form-inline">
        <div>
        <input (change)="changeUploadfile($event)" type="file" size="10" name="uploadfile" />
      </div>
    </section>
    <footer>
      <button class="btn btn-primary" (click)="okUploadfile($event)">확인</button>
      <button class="btn btn-primary" (click)="cancelUploadfile($event)">취소</button>
    </footer>
  </aside>
</ng-template>  
