<header>
  <div class="mailbox-summary">
    <span class="mailbox-name">아무메일함</span><i class="bar"></i>
    <span class="text-primary">10</span> / 50
  </div>
  <mail-list__header></mail-list__header>
</header>
<div bsResizeContainer axis="y">
  <section class="upper-panel" bsResizable #upperPanel>
    <mail-list__view></mail-list__view>
    <footer>
      <div class="absolute-center">
        <pagination style="display: block; line-height: 0"
          [totalItems]="0"
          [itemsPerPage]="10"
          firstText="맨앞" lastText="맨뒤"
          previousText="이전" nextText="다음">
        </pagination>
      </div>
    </footer>
  </section>
  <section class="lower-panel" bsResizable #lowerPanel>
    <div bsResizerTrigger></div>
    <mail-read [isNormalView]="false"></mail-read>
  </section>
</div>
