/* ViewEncapsulation.Emulated */
$header-height: 98px;
$footer-height: 46px;

header {
  padding: 20px 40px 0 40px;
  margin-left: -1px;
  height: $header-height;
  border-bottom: 1px #ddd solid;
}

.mailbox-summary {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.mailbox-name {
  display: inline-block;
  line-height: 1;
  padding-top: .1em;
  padding-right: .8em;
  margin-right: .8em;
  border-right: 1px solid #cbcbcb;
}

mail-list__header {
  display: block;
  margin-bottom: 12px;
}

.bs-resize-container {
  width: 100%;
  height: calc(100% - #{$header-height});
  position: relative;
  overflow-y: hidden;
}

.upper-panel,
.lower-panel {
  min-height: 10%;
  position: relative;
  height: 50%;
}

.bs-resizer-trigger {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  height: 6px;
  background-color: rgba(0, 0, 0, 0);
  cursor: ns-resize;
}

mail-list__view {
  display: block;
  height: calc(100% - #{$footer-height});
  overflow: auto;
  border-bottom: 1px #ddd solid;
  padding-left: 40px - 34px;
}

footer {
  position: absolute;
  height: $footer-height;
  left: 0;
  right: 0;
}

mail-read {
  display: block;
  overflow: auto;
  height: 100%;
}

.lower-panel {
  box-shadow: inset 0px 6px 6px -3px rgba(0, 0, 0, 0.3);
}
