/* ViewEncapsulation.Emulated */
$header-height: 98px;
$footer-height: 46px;

header {
  padding: 20px 40px 0 40px;
  margin-left: -1px;
  height: $header-height;
  border-bottom: 1px #ddd solid;
}

mail-list__header {
  display: block;
  margin-bottom: 12px;
}

mail-list__view,
mail-list__readok {
  display: block;
  height: calc(100% - #{$header-height} - #{$footer-height});
  border-bottom: 1px #ddd solid;
  padding-left: 40px - 34px;
}

footer {
  position: absolute;
  height: 46px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.mailbox-summary {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.mailbox-name {
  display: inline-block;
  line-height: 1;
  padding-top: .1em;
  padding-right: .8em;
  margin-right: .8em;
  border-right: 1px solid #cbcbcb;
}

