<header>
  <div class="mailbox-summary">
    <span class="mailbox-name">아무메일함</span><i class="bar"></i>
    <span class="text-primary">10</span> / 50
  </div>
  <mail-list__header></mail-list__header>
</header>
<mail-list__view *ngIf="mode === 0"></mail-list__view>
<mail-list__readok *ngIf="mode === 1"></mail-list__readok>
<footer>
  <div class="absolute-center">
    <pagination style="display: block; line-height: 0"
      [totalItems]="0"
      [itemsPerPage]="10"
      firstText="맨앞" lastText="맨뒤"
      previousText="이전" nextText="다음">
    </pagination>
  </div>
</footer>
