/* ViewEncapsulation.Emulated */

:host {
  overflow: auto;
}

.cdk-table {
  width: 100%;
  min-width: 672px;
}
$row-height-default: 40px - 1px; // minus border width

.cdk-row {
  &.expanded {
    height: 0;
  }

  &:not(:last-child) > .cdk-cell {
    border-bottom: 1px #eee solid;
  }

  &:hover {
    background-color: #f5f5f5;
  }

  &.row-checked {
    background-color: #e5e5e5;
  }

  &.row-checked:hover {
    background-color: #d5d5d5;
  }
}

.cdk-cell {
  vertical-align: top;
}

/*  */

.cdk-column-checked,
.cdk-column-subject {
  & > .table-cell-hack {
    height: $row-height-default;
  }
}

.cdk-column-checked {
  width: 44px + 34px;
  line-height: 0;
  text-align: center;

  & > .table-cell-hack {
    padding-left: 34px;
  }
}

.cdk-row {
  &:hover > .cdk-column-checked .material-icons,
  &.row-checked > .cdk-column-checked .material-icons {
    display: none;
  }

  &:not(:hover):not(.row-checked) > .cdk-column-checked .bs-checkbox {
    display: none;
  }
}

.cdk-column-subject {
  width: 100%;

  padding: {
    left: 8px;
    right: 8px;
  }
}

.cdk-column-to {
  width: 540px;

  & > .status-summary {
    height: $row-height-default; /* HACK: min-height */
  }

  & > .status-more {
    height: $row-height-default;
    border-top: 1px #ccc dashed;
  }
}

.subject {
  margin-right: 4px;
  cursor: pointer;
  padding: 4px 0;
  vertical-align: middle;
}

.subject:hover {
  color: #888888;
}

.recipient-name,
.recipient-count,
.current-state,
.modify-state {
  vertical-align: middle;
  display: inline-block;
}

.status-summary .btn.expander {
  padding: 5px;
}

.recipient-name,
.recipient-count {
  width: 200px;
}

.current-state {
  width: 120px;
}

.modify-state {
  .text-primary {
    color: #0000ff;
  }

  .text-warning {
    color: #ff9000;
  }
}

.mail-action-icons {
  color: #505050;
  line-height: 0;
  vertical-align: middle;

  .material-icons {
    padding: 2px 1px;
  }
}
