<cdk-table #table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checked Column -->
  <ng-container cdkColumnDef="checked">
    <cdk-header-cell *cdkHeaderCellDef>선택</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <div class="table-cell-hack valign-container">
        <i class="valign-item" matIcon="account_circle"></i>
        <bs-checkbox class="valign-item" [(ngModel)]="row.checked" (click)="clickChecked(row.sn)" (change)="changeChecked(row.sn,$event)">
        </bs-checkbox>
      </div>
    </cdk-cell>
  </ng-container>

  <!-- Subject Column -->
  <ng-container cdkColumnDef="subject">
    <cdk-header-cell *cdkHeaderCellDef> 제목</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <div class="table-cell-hack valign-container">
        <span class="subject valign-item" (click)="goReadmailLink(row.sn)">{{ row.subject || '(제목없음)' }}</span>
      </div>
    </cdk-cell>
  </ng-container>
  
  <!-- To,Time,Etc Column -->
  <ng-container cdkColumnDef="to">
    <cdk-header-cell *cdkHeaderCellDef> 받는사람</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <div *ngIf="row.list.length === 1" class="status-summary valign-container">
        <span class="recipient-name">{{ row.list[0].name || row.list[0].email}}</span>
        <span class="current-state">
          <span class="text-info" *ngIf="row.list[0].state_code==-1">전송중...<br></span>
          <span class="text-muted" *ngIf="row.list[0].state_code!=-1 && row.list[0].send_time">{{row.list[0].send_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
          <span class="text-warning" *ngIf="row.list[0].state_code==-2 && row.list[0].reserve_time">{{row.list[0].reserve_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
          <span class="text-warning" *ngIf="row.list[0].state_code==-5 && row.list[0].reserve_time">{{row.list[0].reserve_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
        </span>
        <span class="modify-state" [ngSwitch]="row.list[0].state_code">
          <span *ngSwitchCase="-5">
            <span class="text-warning">발송대기중 </span>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default">수정</button>
              <button type="button" class="btn btn-sm btn-success" (click)="cancelWaiting(row.sn)">취소</button>
            </div>
          </span>
          <span *ngSwitchCase="-2">
            <span class="text-warning">예약대기중 </span>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default">수정</button>
              <button type="button" class="btn btn-sm btn-success" (click)="cancelReserved(row.sn)">취소</button>
            </div>
          </span>
          <span class="text-muted" *ngSwitchCase="0">읽지않음 <a href="#" *ngIf="row.list[0].local==1" (click)="cancelSending(row.list[0])">발송취소</a></span>
          <span class="text-primary" *ngSwitchCase="1">읽음({{row.list[0].readok_time | datex: 'YY-MM-DD HH:mm'}})</span>
          <span class="text-danger" *ngSwitchCase="5">발송대기취소({{row.list[0].cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
          <span class="text-danger" *ngSwitchCase="8">발송취소({{row.list[0].cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
          <span class="text-danger" *ngSwitchCase="9">예약취소({{row.list[0].cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
          <span *ngSwitchDefault>&nbsp;</span>
        </span>
      </div>
      <ng-container *ngIf="row.list.length > 1">
        <div class="status-summary valign-container">
          <span class="recipient-count">
            <button type="button" (click)="toggleReadokList(row)" class="btn btn-sm btn-flat icon-small expander"
              matIcon="{{row.show ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}">
            </button>
            {{row.list.length}}명 중 <span class="text-primary">{{row.readok}}</span>명 읽음
          </span>
          <span class="current-state">
            <span class="text-warning" *ngIf="row.list[0].state_code==-2 && row.list[0].reserve_time">{{row.list[0].reserve_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
            <span class="text-warning" *ngIf="row.list[0].state_code==-5 && row.list[0].reserve_time">{{row.list[0].reserve_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
          </span>
          <span class="modify-state" [ngSwitch]="row.list[0].state_code">
            <span *ngSwitchCase="-5">
              <span class="text-warning">발송대기중 </span>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default">수정</button>
                <button type="button" class="btn btn-sm btn-success" (click)="cancelWaiting(row.sn)">취소</button>
              </div>
            </span>
            <span *ngSwitchCase="-2">
              <span class="text-warning">예약대기중 </span>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default">수정</button>
                <button type="button" class="btn btn-sm btn-success" (click)="cancelReserved(row.sn)">취소</button>
              </div>
            </span>
            <span class="text-danger" *ngSwitchCase="5">발송대기취소({{row.list[0].cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
            <span class="text-danger" *ngSwitchCase="9">예약취소({{row.list[0].cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
            <span *ngSwitchDefault>&nbsp;</span>
          </span>
        </div>
      
        <ng-container *ngIf="row.show">
          <div class="status-more valign-container" *ngFor="let readok of row.list;let i=index">
            <span class="recipient-name">
              {{ readok.name || readok.email}}
            </span>
            <span class="current-state">
              <span class="text-info" *ngIf="readok.state_code==-1">전송중...</span>
              <span class="text-muted" *ngIf="readok.state_code!=-1 && readok.send_time">{{readok.send_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
              <span class="text-warning" *ngIf="readok.state_code==-2 && readok.reserve_time">{{readok.reserve_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
              <span class="text-warning" *ngIf="readok.state_code==-5 && readok.reserve_time">{{readok.reserve_time | datex: 'YY-MM-DD HH:mm'}}<br></span>
            </span>
            
            <span class="modify-state" [ngSwitch]="readok.state_code">
              <span class="text-muted" *ngSwitchCase="0">읽지않음 <a href="#" *ngIf="readok.local==1" (click)="cancelSending(readok)">발송취소</a></span>
              <span class="text-primary" *ngSwitchCase="1">읽음({{readok.readok_time | datex: 'YY-MM-DD HH:mm'}})</span>
              <span class="text-danger" *ngSwitchCase="5">발송대기취소({{readok.cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
              <span class="text-danger" *ngSwitchCase="8">발송취소({{readok.cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
              <span class="text-danger" *ngSwitchCase="9">예약취소({{readok.cancel_time | datex: 'YY-MM-DD HH:mm'}})</span>
              <span *ngSwitchDefault>&nbsp;</span>
            </span>
          </div>
        </ng-container>
      </ng-container>
    </cdk-cell>
  </ng-container>
                    
  <cdk-header-row *cdkHeaderRowDef="displayedColumns" style="display: none;"></cdk-header-row>
  <cdk-row *cdkRowDef="let row; columns: displayedColumns;"
    [class.row-checked]="row.checked">
  </cdk-row>

</cdk-table>
