/* ViewEncapsulation.Emulated */

:host {
  overflow: auto;
}

.cdk-table {
  width: 100%;
  min-width: 672px;
}

.cdk-row {
  height: 40px;

  &:not(:last-child) > .cdk-cell {
    border-bottom: 1px #eee solid;
  }

  &:hover {
    background-color: #f5f5f5;
  }

  &.row-checked {
    background-color: #e5e5e5;
  }

  &.row-checked:hover {
    background-color: #d5d5d5;
  }
}

.cdk-cell {
  vertical-align: middle;
}

/*  */

.cdk-column-checked {
  width: 44px + 34px;
  line-height: 0;
  text-align: center;

  & > .table-cell-hack {
    padding-left: 34px;
  }
}

.cdk-row {
  &:hover > .cdk-column-checked .material-icons,
  &.row-checked > .cdk-column-checked .material-icons {
    display: none;
  }

  &:not(:hover):not(.row-checked) > .cdk-column-checked .bs-checkbox {
    display: none;
  }
}

.cdk-column-from {
  width: 144px;
  padding: 0 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cdk-column-subject {
  width: 100%;
}

.cdk-column-time {
  width: 108px;
  padding: 0 6px;
}

.cdk-column-etc {
  width: 96px;
}

.cdk-column-etc .btn {
  padding: 2px;

  @at-root #{selector-unify(&, mail-list__added-work)}{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.cdk-row {
  &.row-notread .from-default {
    font-weight: bold;
  }

  &.row-notread .subject {
    font-weight: bold;
  }
}

.mail-info-icons {
  margin-right: 8px;
  color: #505050;
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  border: 1px #505050 solid;
  border-radius: 3px;
}

.subject {
  margin-right: 4px;
  cursor: pointer;
  padding: 4px 0;
  vertical-align: middle;
}

.subject:hover {
  color: #888888;
}

.mail-action-icons {
  color: #505050;
  line-height: 0;
  vertical-align: middle;

  .material-icons {
    padding: 2px 1px;
  }
}
