<cdk-table #table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checked Column -->
  <ng-container cdkColumnDef="checked">
    <cdk-header-cell *cdkHeaderCellDef>선택</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <div class="table-cell-hack">
        <i matIcon="account_circle"></i>
        <bs-checkbox [(ngModel)]="row.checked" (click)="clickChecked(row.sn)" (change)="changeChecked(row.sn,$event)">
        </bs-checkbox>
      </div>
    </cdk-cell>
  </ng-container>

  <!-- Rule Column -->
  <ng-container cdkColumnDef="from">
    <cdk-header-cell *cdkHeaderCellDef>보낸이</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <span *ngIf="!(s_mailbox==1000 || s_mailbox==1200)" class="from-default" title="{{'sookwook2@naver.com'}}">sookwook2@naver.com</span>
      <span *ngIf="s_mailbox==1000 || s_mailbox==1200">{{ row.recipient_name || row.recipient_email}}</span>
    </cdk-cell>
  </ng-container>

  <!-- ForwardEmail Column -->
  <ng-container cdkColumnDef="subject">
    <cdk-header-cell *cdkHeaderCellDef>제목</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <div style="padding: 4px 0" class="valign-container">
        <span class="label label-primary mailbox-name" *ngIf="s_mailbox<100 || (s_mailbox>8000 && s_mailbox<10000)">아무메일함</span>
        <div class="mail-info-icons material-icons icon-xsmall" *ngIf="row.file_flag">
          <i matIcon="attach_file" title="일반파일" *ngIf="row.file_flag===1"></i>
          <i matIcon="insert_drive_file" title="대용량파일" *ngIf="row.file_flag===2"></i>
          <i class="material-icons icon-stack" *ngIf="row.file_flag===3" title="일반+대용량파일">
            <i matIcon="insert_drive_file" class="icon-stack-2"></i>
            <i matIcon="attach_file" class="icon-stack-1"></i>
          </i>
          <i matIcon="lock" *ngIf="row.lock_flag===1" title="잠금메일"></i>
          <i matIcon="priority_high" *ngIf="false" title="긴급메일"></i>
        </div>
        <span (click)="goReadmailLink(row.sn)" class="subject">{{ row.subject }}</span>
        <span class="mail-action-icons material-icons icon-small" *ngIf="s_mailbox!=1000">
          <button type="button" class="btn btn-flat" matIcon="search" (click)="openPreviewMail(row.sn)" title="메일 내용 미리보기"></button>
          <button type="button" class="btn btn-flat" matIcon="open_in_new" (click)="openPopupMail(row.sn)" title="새창으로 메일 보기"></button>
          <span *ngIf="row.reply_flag>0" cdkOverlayOrigin #replyOrigin="cdkOverlayOrigin">
            <button type="button" class="btn btn-flat" matIcon="reply" *ngIf="row.reply_flag==1" (mouseover)="openReplyPopup(row,replyOrigin)"></button>
            <button type="button" class="btn btn-flat" matIcon="reply_all" *ngIf="row.reply_flag==2" (mouseover)="openReplyAllPopup(row,replyOrigin)"></button>
          </span>
          <button type="button" class="btn btn-flat" matIcon="forward" *ngIf="row.forward_flag==1" cdkOverlayOrigin #forwardOrigin="cdkOverlayOrigin" (mouseover)="openForwardPopup(row,forwardOrigin)"></button>
        </span>
      </div>
    </cdk-cell>
  </ng-container>
      
  <!-- Term Column -->
  <ng-container cdkColumnDef="time">
    <cdk-header-cell *cdkHeaderCellDef>시간</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      17-11-07 01:27
    </cdk-cell>
  </ng-container>
  
  <!-- RegisterDate Column -->
  <ng-container cdkColumnDef="etc">
    <cdk-header-cell *cdkHeaderCellDef>기타</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <div class="btn-group material-icons" role="toolbar">
        <button class="btn btn-flat line-height_0" (click)="setPriorityMail(row.sn);">
          <i matIcon="star" *ngIf="row.priority_flag==1"></i>
          <i matIcon="star_half" *ngIf="row.priority_flag==2"></i>
          <i matIcon="star_border" *ngIf="row.priority_flag==3"></i>
        </button>
        <button type="button" class="btn btn-flat line-height_0" [class.inactive]="!tagSelector.tags"
            title="{{tagSelector.tags}}"
            (click)="tagSelector.setMailTag()"
            #tagSelectorBtn>
          <i matIcon="label"></i>
        </button>
        <tag-selector [tags]="row.tags" [mail_sn]="row.sn" [_origin]="tagSelectorBtn" #tagSelector></tag-selector>
        <mail-list__added-work class="btn btn-flat line-height_0" [sn]="row.sn"
            dropdown container="body" placement="right">
          <i matIcon="more_vert"></i>
        </mail-list__added-work>
      </div>
    </cdk-cell>
  </ng-container>
                    
  <cdk-header-row *cdkHeaderRowDef="displayedColumns" style="display: none;"></cdk-header-row>
  <cdk-row *cdkRowDef="let row; columns: displayedColumns;"
    [class.row-checked]="row.checked"
    [class.row-notread]="row.read_flag === 0">
  </cdk-row>

</cdk-table>
