<ng-template #_root>
  <ul class="nav nav-sidebar">
    <li class="dir--left">
      <a class="main-btn" (click)="clickMenu()">{{ menu }}</a>
      <a class="sub-btn line-height_0" dropdown dropdownToggle container="body">
        <i matIcon="apps"></i>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" (click)="gotoMainMenu('mail')"><a class="dropdown-item">메일</a></li>
          <li role="menuitem" (click)="gotoMainMenu('contact')"><a class="dropdown-item">주소록</a></li>
        </ul>
      </a>
    </li>
  </ul>
</ng-template>
