@mixin _doubleColumnForm_type1($group, $label, $controls, $more: null, $label-width: $fl_labelWidth) {
  #{$group} {
    border-bottom: $basicBorderStyle;

    padding: {
      top: 8px;
      bottom: 8px;
    };
    overflow: hidden;
    white-space: nowrap;
  }

  #{$label} {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: $label-width;
    font-weight: bold;
  }

  #{$controls} {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;

    & > .display_block {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @if $more {
    #{$more} {
      display: block;
      white-space: normal;
      margin-left: $label-width;
    }
  }

  .bs-select {
    width: $selectWidth_default;
  }

  .input-group > input.form-control {
    display: table-cell;
    width: 100%;
  }

  input.form-control {
    display: inline-block;
    width: $inputWidth_default;
  }

  .bs-checkbox,
  .bs-radio-button {
    margin-right: 16px;
  }

  .bs-select,
  input.form-control {
    vertical-align: middle;
    margin-right: 8px;
  }
}

@mixin _doubleColumnForm_type2($group, $label, $controls, $more: null, $row-height: $fl_type2_rowHeight, $label-width: $fl_labelWidth) {
  @include _doubleColumnForm_type1($group, $label, $controls, $more, $label-width);

  #{$group} {
    position: relative;

    padding: {
      top: 0;
      bottom: 0;
    }

    &:first-child {
      border-top: $basicBorderStyle;
    }
  }

  #{$label} {
    position: absolute;
    height: 100%;
    line-height: $row-height;
    padding-left: 16px;
    background-color: #eee;
  }

  #{$controls} {
    display: block;
    min-height: $row-height;
    padding: 12px 0;
    margin-left: $label-width + 8px;

    > .form-control.alone {
      width: calc(100% - 8px);
    }

    &.single-line {
      line-height: $row-height;
      padding: 0;
    }
  }
}
