@mixin valign-container {
  &:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
}

@mixin valign-item {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@mixin absolute-center-x {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin absolute-center-y {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin new-caret {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  transform-origin: center;
  transform: translateY(-25%) rotate(45deg);
  vertical-align: middle;
}

@mixin new-caret-open {
  @include new-caret;
  transform: translateY(25%) rotate(225deg);
}
