<div class="conf-group">
  <div class="conf-label">받은메일함 보관기간</div>
  <div class="conf-controls">
    <bs-select [(ngModel)]="pms.receive_mailbox_delete_term">
      <bs-option value="0">자동삭제안함</bs-option>
      <bs-option value="5">5일</bs-option>
      <bs-option value="10">10일</bs-option>
      <bs-option value="15">15일</bs-option>
      <bs-option value="20">20일</bs-option>
      <bs-option value="25">25일</bs-option>
      <bs-option value="30">30일</bs-option>
      <bs-option value="35">35일</bs-option>
      <bs-option value="40">40일</bs-option>
      <bs-option value="50">50일</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">개인메일함 보관기간</div>
  <div class="conf-controls">
    <bs-select [(ngModel)]="pms.personal_mailbox_delete_term">
      <bs-option value="0">자동삭제안함</bs-option>
      <bs-option value="5">5일</bs-option>
      <bs-option value="10">10일</bs-option>
      <bs-option value="15">15일</bs-option>
      <bs-option value="20">20일</bs-option>
      <bs-option value="25">25일</bs-option>
      <bs-option value="30">30일</bs-option>
      <bs-option value="35">35일</bs-option>
      <bs-option value="40">40일</bs-option>
      <bs-option value="50">50일</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">보낸메일함 보관기간</div>
  <div class="conf-controls">
    <bs-select [(ngModel)]="pms.send_mailbox_delete_term">
      <bs-option value="0">자동삭제안함</bs-option>
      <bs-option value="5">5일</bs-option>
      <bs-option value="10">10일</bs-option>
      <bs-option value="15">15일</bs-option>
      <bs-option value="20">20일</bs-option>
      <bs-option value="25">25일</bs-option>
      <bs-option value="30">30일</bs-option>
      <bs-option value="35">35일</bs-option>
      <bs-option value="40">40일</bs-option>
      <bs-option value="50">50일</bs-option>
    </bs-select>			
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">임시보관함 보관기간</div>
  <div class="conf-controls">				
    <bs-select [(ngModel)]="pms.temp_mailbox_delete_term">
      <bs-option value="0">자동삭제안함</bs-option>
      <bs-option value="5">5일</bs-option>
      <bs-option value="10">10일</bs-option>
      <bs-option value="15">15일</bs-option>
      <bs-option value="20">20일</bs-option>
      <bs-option value="25">25일</bs-option>
      <bs-option value="30">30일</bs-option>
      <bs-option value="35">35일</bs-option>
      <bs-option value="40">40일</bs-option>
      <bs-option value="50">50일</bs-option>
    </bs-select>			
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">삭제 메일 이동</div>
  <div class="conf-controls">
    <bs-checkbox type="checkbox" [(ngModel)]="pms.auto_delete_to_trash">
      휴지통으로 이동
    </bs-checkbox>
    ( 선택하지 않으면 완전삭제되어 복구할 수 없습니다. )
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">휴지통 보관기간</div>
  <div class="conf-controls">
    <bs-select [(ngModel)]="pms.trash_delete_term">
      <bs-option value="0">자동삭제안함</bs-option>
      <bs-option value="5">5일</bs-option>
      <bs-option value="7">7일</bs-option>
      <bs-option value="10">10일</bs-option>
      <bs-option value="15">15일</bs-option>
      <bs-option value="20">20일</bs-option>
      <bs-option value="25">25일</bs-option>
      <bs-option value="30">30일</bs-option>
      <bs-option value="35">35일</bs-option>
      <bs-option value="40">40일</bs-option>
      <bs-option value="50">50일</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">대용량 첨부파일</div>
  <div class="conf-controls">
    <bs-checkbox type="checkbox" [(ngModel)]="pms.delete_large_attach_file">
      메일 삭제시 첨부된 대용량파일도 함께 삭제함
    </bs-checkbox>
  </div>
</div>

<footer class="conf-actions">
  <button type="button" class="btn btn-success" (click)="save()">저장</button>
  <button type="button" class="btn btn-default">취소</button>
</footer>
