@import './common-style';

.conf-label {
  width: 256px;
}

.from-email {
  width: 192px;
}

.editor-font-family {
  width: 160px;
}

.editor-font-size {
  width: 64px;
}

.autosave-term, .cancel-before-sending-term {
  margin-right: 8px;
}

.forward-limit {
  width: 64px !important;
}
