<div class="conf-group">
  <div class="conf-label">메일 읽기 새창</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.read_popup_multi">다중창 허용</bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">수신인 표기 방법</div>
  <div class="conf-controls">
    <bs-radio-group name="read_show_recipient" [(ngModel)]="pms.read_show_recipient">
      <bs-radio-button value="H">숨기기</bs-radio-button>
      <bs-radio-button value="S">보이기</bs-radio-button>
    </bs-radio-group>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">받는사람 표기 방법</div>
  <div class="conf-controls">
    <bs-radio-group class="display_block" name="read_show_to" [(ngModel)]="pms.read_show_to">
      <bs-radio-button value="0">나열하기</bs-radio-button>
      <bs-radio-button value="1">셀렉트박스로 표기</bs-radio-button>
    </bs-radio-group>
    <span>"나열하기"로 설정하면 메일주소별 옵션기능을 사용할 수 있습니다.</span>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">참조 표기 방법</div>
  <div class="conf-controls">
    <bs-radio-group class="display_block" name="read_show_cc" [(ngModel)]="pms.read_show_cc">
      <bs-radio-button value="0">나열하기</bs-radio-button>
      <bs-radio-button value="1">셀렉트박스로 표기</bs-radio-button>
    </bs-radio-group>
    <span>"나열하기"로 설정하면 메일주소별 옵션기능을 사용할 수 있습니다.</span>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">숨은참조 표기 방법</div>
  <div class="conf-controls">
    <bs-radio-group class="display_block" name="read_show_bcc" [(ngModel)]="pms.read_show_bcc">
      <bs-radio-button value="0">나열하기</bs-radio-button>
      <bs-radio-button value="1">셀렉트박스로 표기</bs-radio-button>
    </bs-radio-group>
    <span>"나열하기"로 설정하면 메일주소별 옵션기능을 사용할 수 있습니다.</span>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일삭제/이동 후 화면</div>
  <div class="conf-controls">
    <bs-radio-group name="read_delete_after_menu" [(ngModel)]="pms.read_delete_after_menu">
      <bs-radio-button value="L">메일목록보기</bs-radio-button>
      <bs-radio-button value="P">이전메일보기</bs-radio-button>
      <bs-radio-button value="N">다음메일보기</bs-radio-button>
    </bs-radio-group>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">첨부 이미지 표시</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.attach_image_view">이미지 표시</bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일 인쇄</div>
  <div class="conf-controls">
    <bs-radio-group name="mail_content_print_mode" [(ngModel)]="pms.mail_content_print_mode">
      <bs-radio-button value="A">전체</bs-radio-button>
      <bs-radio-button value="SB">제목+본문</bs-radio-button>
    </bs-radio-group>
  </div>
</div>
  
<footer class="conf-actions">
  <button type="button" class="btn btn-success" (click)="save()">저장</button>
  <button type="button" class="btn btn-default">취소</button>
</footer>
