<div class="conf-group">
  <div class="conf-label">메일목록 더보기</div>
  <div class="conf-controls">
    <bs-radio-group name="list_moreview_type" [(ngModel)]="pms.list_moreview_type">
      <bs-radio-button value="P">페이지 방식</bs-radio-button>
      <bs-radio-button value="A">자동 더보기 방식</bs-radio-button>
    </bs-radio-group>
  </div>
</div>
  
<div class="conf-group">
  <div class="conf-label">목록 개수</div>
  <div class="conf-controls">
    <bs-select class="page-size" [(ngModel)]="pms.mailbox_page_size">
      <bs-option value="5">5</bs-option>
      <bs-option value="10">10</bs-option>
      <bs-option value="15">15</bs-option>
      <bs-option value="20">20</bs-option>
      <bs-option value="25">25</bs-option>
      <bs-option value="30">30</bs-option>
      <bs-option value="35">35</bs-option>
      <bs-option value="40">40</bs-option>
      <bs-option value="45">45</bs-option>
      <bs-option value="50">50</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">왼쪽 개인메일함 개수</div>
  <div class="conf-controls">
    <bs-select class="" [(ngModel)]="pms.personal_mailbox_size">
      <bs-option value="0">모두노출</bs-option>
      <bs-option value="5">5</bs-option>
      <bs-option value="10">10</bs-option>
      <bs-option value="15">15</bs-option>
      <bs-option value="20">20</bs-option>
      <bs-option value="25">25</bs-option>
      <bs-option value="30">30</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">본문 미리보기</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.content_preview">사용</bs-checkbox>
    ( * 목록에서 본문 내용 일부를 미리볼수 있습니다.)
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일 첫 화면</div>
  <div class="conf-controls">
    <bs-select class="" [(ngModel)]="pms.first_mailbox_menu">
      <bs-option value="9100">전체메일합</bs-option>
      <bs-option value="8100">안읽은 메일</bs-option>
      <bs-option value="1100">받은메일합</bs-option>
      <bs-option value="800">내게보낸메일함</bs-option>
      <bs-option value="1200">보낸메일함</bs-option>
      <bs-option value="1300">개인메일합</bs-option>
      <bs-option value="8200">중요메일</bs-option>
      <bs-option value="8300">첨부메일</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">환경설정 첫 화면</div>
  <div class="conf-controls">
    <bs-select class="" #first_mailconf_menu [(ngModel)]="pms.first_mailconf_menu" (ngModelChange)="changeMailconfMenu(first_mailconf_menu.value);">
      <!-- <bs-option *ngFor="let menu of mailconf_menu_opts" [value]="menu.code">{{menu.name}}</bs-option> -->
      
      <bs-option value="basic">기본설정</bs-option>
      <bs-option value="mailbox">메일함설정</bs-option>
      <bs-option value="spam">스팸설정</bs-option>
      <bs-option value="etc">부가기능</bs-option>
      
    </bs-select>
    <bs-select class="" [(ngModel)]="pms.first_mailconf_menu2">
      <!-- <bs-option *ngFor="let menu of mailconf_menu2_opts" [value]="menu.code">{{menu.name}}</bs-option> -->
      
      <bs-option value="list">목록설정</bs-option>
      <bs-option value="read">읽기설정</bs-option>
      <bs-option value="write">쓰기설정</bs-option>
      <bs-option value="delete">메일삭제</bs-option>
      
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일 새로고침 주기</div>
  <div class="conf-controls">
    <bs-select class="" [(ngModel)]="pms.mailbox_refresh_term">
      <bs-option value="0">새로고침없음</bs-option>
      <bs-option value="30">30초</bs-option>
      <bs-option value="60">1분</bs-option>
      <bs-option value="180">3분</bs-option>
      <bs-option value="300">5분</bs-option>
      <bs-option value="600">10분</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일함 기준시간</div>
  <div class="conf-controls">
    <bs-select class="timezone" listMaxHeight="384px" [(ngModel)]="pms.mailbox_basetime_gmt">
      <bs-option value="-12">GMT -12:00 (날짜 변경선 서쪽)</bs-option> 
      <bs-option value="-11">GMT -11:00 (미드웨이 아일랜드, 사모아)</bs-option>
      <bs-option value="-10">GMT -10:00 (하와이)</bs-option>
      <bs-option value="-9.5">GMT -09:30 (마퀘사스)</bs-option>
      <bs-option value="-9">GMT -09:00 (알래스카)</bs-option>
      <bs-option value="-8.5">GMT -08:30 (피칸)</bs-option>
      <bs-option value="-8">GMT -08:00 (태평양 표준시)</bs-option>
      <bs-option value="-7">GMT -07:00 (산지 표준시_미국/캐나다)</bs-option>
      <bs-option value="-6">GMT -06:00 (중부 표준시_미국/캐나다)</bs-option>
      <bs-option value="-5">GMT -05:00 (동부 표준시_미국/캐나다)</bs-option>
      <bs-option value="-4.5">GMT -04:30 (카라카스)</bs-option>
      <bs-option value="-4">GMT -04:00 (대서양 표준시)</bs-option>
      <bs-option value="-3.5">GMT -03:30 (뉴펀들랜드)</bs-option>
      <bs-option value="-3">GMT -03:00 (부에노스아이레스)</bs-option>
      <bs-option value="-2">GMT -02:00 (중앙 대서양)</bs-option>
      <bs-option value="-1">GMT -01:00 (아조레스)</bs-option>
      <bs-option value="+0">GMT +00:00 (그리니치 표준시_런던)</bs-option>
      <bs-option value="+1">GMT +01:00 (암스테르담, 베를린, 빈)</bs-option>
      <bs-option value="+2">GMT +02:00 (아테네, 카이로)</bs-option>
      <bs-option value="+3">GMT +03:00 (모스크바, 바그다드)</bs-option>
      <bs-option value="+3.5">GMT +03:30 (테헤란)</bs-option>
      <bs-option value="+4">GMT +04:00 (바쿠, 무스카트)</bs-option>
      <bs-option value="+4.5">GMT +04:30 (카불)</bs-option>
      <bs-option value="+5">GMT +05:00 (카라치)</bs-option>
      <bs-option value="+5.5">GMT +05:30 (뉴델리, 뭄바이)</bs-option>
      <bs-option value="+5.75">GMT +05:45 (카트만두)</bs-option>
      <bs-option value="+6">GMT +06:00 (아스타나, 다카)</bs-option>
      <bs-option value="+6.5">GMT +06:30 (양곤)</bs-option>
      <bs-option value="+7">GMT +07:00 (방콕, 하노이, 자카르타)</bs-option>
      <bs-option value="+8">GMT +08:00 (베이징, 싱가폴, 타이베이)</bs-option>
      <bs-option value="+9">GMT +09:00 (서울, 도쿄)</bs-option>
      <bs-option value="+9.5">GMT +09:30 (다윈, 아델라이드)</bs-option>
      <bs-option value="+10">GMT +10:00 (괌, 캔버라, 시드니)</bs-option>
      <bs-option value="+10.5">GMT +10:30 (로드 호우 아일랜드)</bs-option>
      <bs-option value="+11">GMT +11:00 (뉴 칼레도니아)</bs-option>
      <bs-option value="+11.5">GMT +11:30 (노포크 아일랜드)</bs-option>
      <bs-option value="+12">GMT +12:00 (오클랜드,피지)</bs-option>
    </bs-select>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일 목록 형식</div>
  <div class="conf-controls">
    <bs-radio-group name="mail_listing_type" class="display_block" [(ngModel)]="pms.mail_listing_type">
      <bs-radio-button value="NOR">메일목록</bs-radio-button>
      <bs-radio-button value="VER">좌우분할</bs-radio-button>
      <bs-radio-button value="HOR">상하분할</bs-radio-button>
    </bs-radio-group>
    <bs-checkbox class="display_block" [disabled]="pms.mail_listing_type=='NOR'" [(ngModel)]="pms.listing_firstmail_view">
      목록의 첫번째 메일 자동 선택하여 보기
    </bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">새메일 도착알림</div>
  <div class="conf-controls">
    <bs-checkbox type="checkbox" [(ngModel)]="pms.newmail_arrive_alert">
      알림기능 사용
    </bs-checkbox>
    ( * 새 메일이 도착하면 브라우저에서 알림)
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일 저장시 eml파일명</div>
  <div class="conf-controls">
    <bs-radio-group name="pcsave_filename_type" [(ngModel)]="pms.pcsave_filename_type">
      <bs-radio-button value="S">제목</bs-radio-button>
      <bs-radio-button value="DS">날짜+제목</bs-radio-button>
      <bs-radio-button value="FS">보낸사람+제목</bs-radio-button>
      <bs-radio-button value="FDS">보낸사람+날짜+제목</bs-radio-button>
      <bs-radio-button value="DFS">날짜+보낸사람+제목</bs-radio-button>
    </bs-radio-group>
  </div>
</div>

<footer class="conf-actions">
  <button type="button" class="btn btn-success" (click)="save()">저장</button>
  <button type="button" class="btn btn-default">취소</button>
</footer>
