<div class="conf-group">
  <div class="conf-label">보내는사람 이름</div>
  <div class="conf-controls">
    <input type="text" class="form-control" [(ngModel)]="pms.from_name">
    * 받는 상대에게 보여지는 이름입니다.
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">보내는사람 이메일</div>
  <div class="conf-controls">
    <bs-select class="from-email" [(ngModel)]="pms.from_email">
      <bs-option *ngFor="let email of email_list" value="{{email}}">{{email}}</bs-option>
      <bs-option value="-1">계정추가</bs-option>
    </bs-select>
    * 기본으로 발송되는 이메일입니다.
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">메일쓰기 창</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.write_popup">새창으로 띄움</bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">답장시 원본 포함</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.reply_original_included">원본 포함</bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">에디터 설정</div>
  <div class="conf-controls">
    <bs-radio-group class="display_block" name="write_editor_mode" [(ngModel)]="pms.write_editor_mode">
      <bs-radio-button value="E">에디터모드</bs-radio-button>
      <bs-radio-button value="T">텍스트모드</bs-radio-button>
    </bs-radio-group>
    <div class="display_block" *ngIf="pms.write_editor_mode=='E'">
      <bs-select class="editor-font-family form-group-sm" [(ngModel)]="pms.write_editor_font">
        <bs-option value="굴림">굴림</bs-option>
        <bs-option value="돋움">돋움</bs-option>
        <bs-option value="바탕">바탕</bs-option>
        <bs-option value="궁서">궁서</bs-option>
        <bs-option value="굴림체">굴림체</bs-option>
        <bs-option value="돋움체">돋움체</bs-option>
        <bs-option value="바탕체">바탕체</bs-option>
        <bs-option value="맑은고딕">맑은고딕</bs-option>
        <bs-option value="Arial">Arial</bs-option>
        <bs-option value="Comic Sans MS">Comic Sans MS</bs-option>
        <bs-option value="Courier New">Courier New</bs-option>
        <bs-option value="Tahoma">Tahoma</bs-option>
        <bs-option value="Times New Roman">Times New Roman</bs-option>
        <bs-option value="Verdana">Verdana</bs-option>
      </bs-select>
    
      <bs-select class="editor-font-size form-group-sm" [(ngModel)]="pms.write_editor_font_size">
        <bs-option value="8">8</bs-option>
        <bs-option value="9">9</bs-option>
        <bs-option value="10">10</bs-option>
        <bs-option value="11">11</bs-option>
        <bs-option value="12">12</bs-option>
        <bs-option value="13">13</bs-option>
        <bs-option value="14">14</bs-option>
        <bs-option value="16">16</bs-option>
        <bs-option value="18">18</bs-option>
        <bs-option value="20">20</bs-option>
        <bs-option value="22">22</bs-option>
        <bs-option value="24">24</bs-option>
        <bs-option value="26">26</bs-option>
        <bs-option value="28">28</bs-option>
        <bs-option value="36">36</bs-option>
        <bs-option value="48">48</bs-option>
        <bs-option value="72">72</bs-option>
      </bs-select>
    </div>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">보낸메일 저장</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.send_mailbox_save">원본을 자동 저장</bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">주소자동완성 표기</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.autocomplete_show_dept">부서까지 표기</bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">자동저장주기</div>
  <div class="conf-controls">
    <bs-select class="autosave-term" [(ngModel)]="pms.autosave_term">
      <bs-option value="0">저장안함</bs-option>
      <bs-option value="30">30초</bs-option>
      <bs-option value="60">1분</bs-option>
      <bs-option value="180">3분</bs-option>
      <bs-option value="300">5분</bs-option>
    </bs-select>
   <ng-container *ngIf="pms.autosave_term!=0">후 임시저장</ng-container>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">그룹/부서 발송시 본인 제외</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.group_sending_except_self">본인 제외</bs-checkbox>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">대기 발송</div>
  <div class="conf-controls">
    <div class="display_block">
      <bs-select class="cancel-before-sending-term" [(ngModel)]="pms.cancel_before_sending_term">
        <bs-option value="0">사용안함</bs-option>
        <bs-option value="10">10초</bs-option>
        <bs-option value="30">30초</bs-option>
        <bs-option value="60">1분</bs-option>
      </bs-select>
       <ng-container *ngIf="pms.cancel_before_sending_term!=0">후 발송</ng-container>
    </div>
    <span>(외부로 메일 발송시 실수 방지를 위한 기능으로 취소 및 수정 가능)</span>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">답장/전달시 원문의 To 개수 제한</div>
  <div class="conf-controls">
    <input type="text" class="form-control input-sm forward-limit" [(ngModel)]="pms.reply_forward_lmt_orgn_to">
    <strong>* 숫자로 입력합니다. 0:모두, 그 외 제한 개수 (표시예: 수신자 xx외 xx명)</strong>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">답장/전달시 원문의 Cc 개수 제한</div>
  <div class="conf-controls">
    <input type="text" class="form-control input-sm forward-limit" [(ngModel)]="pms.reply_forward_lmt_orgn_cc">
    <strong>* 숫자로 입력합니다. 0:모두, 그 외 제한 개수 (표시예: 수신자 xx외 xx명)</strong>
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">나를 항상 참조에 포함</div>
  <div class="conf-controls">
    <bs-radio-group name="include_my_email_in_cc_bcc" [(ngModel)]="pms.include_my_email_in_cc_bcc">
      <bs-radio-button value="CC">참조</bs-radio-button>
      <bs-radio-button value="BCC">숨은참조</bs-radio-button>
      <bs-radio-button value="NO">사용 안 함</bs-radio-button>
    </bs-radio-group>
    (* 참조, 숨은 참조 입력창에 내 이메일 주소를 포함합니다.)
  </div>
</div>

<div class="conf-group">
  <div class="conf-label">전달 메일</div>
  <div class="conf-controls">
    <bs-checkbox [(ngModel)]="pms.forward_mail_eml_attach">* 첨부로 전달 (체크를 하면 전달하는 메일의 원문은 첨부로 전달함)</bs-checkbox>
  </div>
</div>

<footer class="conf-actions">
  <button type="button" class="btn btn-success" (click)="save()">저장</button>
  <button type="button" class="btn btn-default">취소</button>
</footer>
