.bs-checkbox {
  cursor: pointer;
}

.bs-checkbox-disabled {
  cursor: not-allowed;
}

.bs-checkbox-layout {
  cursor: inherit;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  line-height: 1;

  /* reset bootstrap style */
  margin: 0;
  font-weight: inherit;
  max-width: none;
}

.bs-checkbox-container-frame {
  display: inline-block;
  height: 20px;
  margin: auto;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 20px;

  border-color: rgba(0, 0, 0, .75);
  border-radius: 2px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.bs-checkbox-disabled .bs-checkbox-container-frame {
  border-color: rgba(0, 0, 0, .38) /* bs-checkbox-disabled-color */;
}

.bs-checkbox-background {
  background-color: transparent;
  color: #101010;
}

.bs-checkbox-disabled .bs-checkbox-background {
  color: rgba(0, 0, 0, .38) /* bs-checkbox-disabled-color */;
}

.bs-checkbox-checkmark:before, .bs-checkbox-mixedmark:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.bs-checkbox-checkmark:after {
  content: '\e013';
  font-family: 'Glyphicons Halflings';
  font-weight: 100;
  font-size: 12px;
  vertical-align: middle;
}

.bs-checkbox-mixedmark {
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  border-top: 4px #101010 solid;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.bs-checkbox-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
}

.bs-checkbox-checkmark {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
}

.bs-checkbox-mixedmark {
  height: 2px;
  opacity: 0;
}

.bs-checkbox-label {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  padding-left: 8px /* bs-toggle-padding */;
  padding-right: 0;
  font-weight: inherit;
}

.bs-checkbox-disabled .bs-checkbox-label {
  color: rgba(0, 0, 0, .38) /* bs-checkbox-disabled-color */;
}

.bs-checkbox-label-no-padding {
  padding-left: 0;
}

.bs-checkbox-checked .bs-checkbox-checkmark {
  opacity: 1;
}

.bs-checkbox-indeterminate .bs-checkbox-checkmark {
  opacity: 0;
}

.bs-checkbox-indeterminate .bs-checkbox-mixedmark {
  opacity: 1;
}

.bs-checkbox-input {
  bottom: 0;
  left: 50%;
}
