<!-- original: https://github.com/angular/material2/blob/master/src/lib/checkbox/checkbox.html -->

<label [attr.for]="inputId" class="bs-checkbox-layout" #label>
  <div class="bs-checkbox-container-frame">
    <input #input
           class="bs-checkbox-input cdk-visually-hidden" type="checkbox"
           [id]="inputId"
           [required]="required"
           [checked]="checked"
           [attr.value]="value"
           [disabled]="disabled"
           [attr.name]="name"
           [tabIndex]="tabIndex"
           [indeterminate]="indeterminate"
           [attr.aria-label]="ariaLabel"
           [attr.aria-labelledby]="ariaLabelledby"
           [attr.aria-checked]="_getAriaChecked()"
           (change)="_onInteractionEvent($event)"
           (click)="_onInputClick($event)">
    <div class="bs-checkbox-background">
      <div class="bs-checkbox-checkmark"></div>
      <div class="bs-checkbox-mixedmark"></div>
    </div>
  </div>
  <span class="bs-checkbox-label" #checkboxLabel (cdkObserveContent)="_onLabelTextChange()"
      [class.bs-checkbox-label-no-padding]="!checkboxLabel.textContent || !checkboxLabel.textContent.trim()">
    <!-- Add an invisible span so JAWS can read the label -->
    <span style="display:none">&nbsp;</span>
    <ng-content></ng-content>
  </span>
</label>