<div class="btn-toolbar pull-left">
  <!-- If 휴지통 -->
  <ng-container *ngIf="isTrash">
    <div class="btn-group">
      <button type="button" class="btn btn-default"
        (click)="removeMail()">완전삭제</button>
      <button type="button" class="btn btn-default"
        (click)="restoreMail()">복원</button>
    </div>
  </ng-container>

  <!-- If Not 휴지통 -->
  <ng-container *ngIf="!isTrash">
    <div class="btn-group">
      <button type="button" class="btn btn-default"
        (click)="toTrashMail()">삭제</button>
      <button type="button" class="btn btn-default"
        *ngIf="!isSent"
        (click)="informSpam()">스팸</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default"
        (click)="replyMail()">답장</button>
      <button type="button" class="btn btn-default"
        (click)="replyAllMail()">전체답장</button>
      <button type="button" class="btn btn-default"
        (click)="forwardMail()">전달</button>
      <button type="button" class="btn btn-default"
        *ngIf="isSent"
        (click)="resendMail()">다시보내기</button>
    </div>
    <ng-container *ngIf="!isSent">
      <button type="button" class="btn btn-default" [disabled]="NoSelect" #movecopyPopupBtn
        (click)="movecopyPopup.openPopup()">이동</button>
      <movecopy-popup [class.disabled]="NoSelect" #movecopyPopup="movecopyPopup"
        [_origin]="movecopyPopupBtn"
        [useMove]="true"
        [useCopy]="false"
        (onMoveDone)="moveDone($event)"
        (onCopyDone)="copyDone($event)">
      </movecopy-popup>
    </ng-container>
    <div dropdown class="btn-group">
      <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" [disabled]="NoSelect">
        <span style="opacity: 0" ngPreserveWhitespaces>&nbsp;&nbsp;</span>
        <i matIcon="more_vert" class="absolute-center"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu">
        <li (click)="savePC()"><a class="dropdown-item" [class.disabled]="NoSelect">PC 저장</a></li>
        <li (click)="movePOP()"><a class="dropdown-item" [class.disabled]="NoSelect">POP 가져가기</a></li>
        <li (click)="setReadMail()"><a class="dropdown-item" [class.disabled]="NoSelect">읽음</a></li>
        <li (click)="setNotreadMail()"><a class="dropdown-item" [class.disabled]="NoSelect">읽지않음</a></li>
        <li (click)="setLockMail()"><a class="dropdown-item" [class.disabled]="NoSelect">잠금설정</a></li>
        <li (click)="setUnlockMail()"><a class="dropdown-item" [class.disabled]="NoSelect">잠금해제</a></li>
      </ul>
    </div>
  </ng-container>
</div>

<div class="btn-toolbar pull-right">
  <button type="button" class="btn btn-default"
    *ngIf="!_css.isPopupWindow"
    (click)="listMail()">목록</button>
  <div class="btn-group">
    <button type="button" class="btn btn-default"
      (click)="prevMail()">이전</button>
    <button type="button" class="btn btn-default"
      (click)="nextMail()">다음</button>
  </div>
  <button type="button" class="btn btn-default"
    (click)="printMail()">인쇄</button>
</div>
