/* ViewEncapsulation.Emulated */
@import 'variables';
@import 'mixins';

.component-inner {
  min-width: 712px;
  height: 100%;
  overflow: auto;
}

header {
  @include _header
}

.mailbox-summary {
  @include _headerTitleFontStyle
  margin-bottom: 12px;
}

.mailbox-name {
  display: inline-block;
  line-height: 1;
  padding-top: .1em;
  padding-right: .8em;
  margin-right: .8em;
  border-right: 1px solid #cbcbcb;
}

mail-read__header {
  display: block;
  padding: 10px 40px;
  overflow-y: hidden;
}

header > mail-read__header {
  padding: 0;
}

.read-view {
  display: block;
  height: 100%;
  padding: 10px 40px 0 40px;
}

header + .read-view {
  height: calc(100% - #{$headerHeight});
}

mail-read__header + .read-view {
  height: auto;
  border-top: 1px #ddd solid;
}

.mail-header {
  padding: 0 40px 8px 36px;
  margin: {
    left: -36px;
    right: -40px;
  }
  border-bottom: 1px solid #ddd;
}

.recipient-container,
.files-container {
  position: relative;
  padding-left: 32px;

  & > .show-detail-btn,
  & > .show-detail-btn {
    padding: 2px;
    margin-left: -32px;
  }
}

.subject-bar,
.recipient-container > .default-row,
.files-container > .files-summary {
  height: 28px;
}

.recipient-container > .detail-row {
  height: 24px;
}

.subject-bar {
  & > .btn-group,
  & > .subject,
  & > .send-time {
    display: inline-block;
  }

  & .btn {
    padding: 4px;
  }

  & > .subject {
    font-size: 1.2em;
  }
}

.subject-bar > .send-time,
.subject-bar > .mail-size,
.recipient-container > .default-row > .sent-address,
.files-container .total-size {
  color: #aaa;
}

.separator {
  font-size: 1.2em;
  line-height: 1;
  vertical-align: middle;
  padding-right: .8em;
  margin-right: .8em;
  border-right: 1px solid #cbcbcb;
}

.recipient-details {
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
}

.recipient-container > .default-row,
.recipient-details > .detail-row {
  padding-left: 4.75em;

  .heading {
    margin-left: -4.75em;
    width: 4.75em;
  }
}

.files-container {
  position: relative;
  padding-left: 32px;
}

.mail-body {
  border-style: none;
  margin: 0 -40px;
  padding: 20px 40px;
}
