<div class="component-inner">
  <header *ngIf="isListNormalView && !_css.isPopupWindow">
    <div class="mailbox-summary">
      <span class="mailbox-name">{{ mailbox_name }}</span><i class="bar"></i>
      <span class="text-primary">{{ notread_cnt }}</span> / {{ total_cnt }}
    </div>
    <mail-read__header></mail-read__header>
  </header>
  <mail-read__header *ngIf="_css.isPopupWindow"></mail-read__header>
  
  <section class="read-view">
    <div class="mail-header">
      <div class="subject-bar valign-container">
        <span class="btn-group material-icons valign-item" role="toolbar">
          <button type="button" class="btn btn-flat line-height_0" (click)="setPriorityMail();">
            <i matIcon="star" *ngIf="mail.priority_flag==1"></i>
            <i matIcon="star_half" *ngIf="mail.priority_flag==2"></i>
            <i matIcon="star_border" *ngIf="mail.priority_flag==3"></i>
          </button>
          <button type="button" class="btn btn-flat line-height_0"
              (click)="tagSelector.setMailTag()"
              #tagSelectorBtn>
            <i matIcon="label"></i>
          </button>
          <tag-selector [tags]="mail.tags" [mail_sn]="mail.sn" [_origin]="tagSelectorBtn" #tagSelector></tag-selector>
        </span>
        <span class="subject valign-item">{{ subject }}</span>
        <i class="separator"></i>
        <span class="send-time valign-item">{{ send_time | datex: 'YY-MM-DD HH:mm' }}</span>
        <i class="separator"></i>
        <span class="mail-size valign-item">{{mail_size | unitSize}}</span>
      </div>
    
      <div class="recipient-container">
        <button type="button" class="btn btn-flat show-detail-btn" [matIcon]="openToccbccIcon" (click)="openToccbcc()"></button>
        <div class="default-row valign-container" style="display: inline-block">
          <span class="heading valign-item">보낸사람</span>
          <button class="button" class="btn btn-flat" matIcon="star" style="font-size: 18px; padding: 0"></button>
          <span class="valign-item">&nbsp;"{{from_name}}" &lt;{{from_email}}&gt;</span>
          <i class="separator"></i>
          <span class="valign-item sent-address">(IP : 111.222.333.444 / korea )</span>
        </div>
        <div class="recipient-details" *ngIf="isOpenToccbcc">
          <ng-container 
            *ngTemplateOutlet="listingTpl; context: { heading: '받는사람', viewMode: to_view_mode, list: to_list }">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="listingTpl; context: { heading: '참조', viewMode: cc_view_mode, list: cc_list }">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="listingTpl; context: { heading: '숨은참조', viewMode: bcc_view_mode, list: bcc_list }">
          </ng-container>
          <ng-template #listingTpl let-heading="heading" let-viewMode="viewMode" let-list="list">
            <div class="detail-row">
              <span class="heading valign-item">{{ heading }}</span>
              <div class="valign-item">
                <ng-container *ngIf="viewMode === 0">
                  <ng-container *ngFor="let contact of list; last as isLast">
                    <span *ngIf="contact.name as name">"{{ name }}"</span>
                    <span>&lt;{{ contact.email }}&gt;</span>
                    <span *ngIf="!isLast">,&nbsp;</span>
                  </ng-container>
                </ng-container>
                <select *ngIf="viewMode === 1">
                  <option *ngFor="let contact of list">
                    {{ contact.name ? contact.name + '<'+contact.email+'>' : contact.email }}
                  </option>
                </select>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    
      <!-- 미완성 -->
      <div class="files-container">
        <ng-container *ngIf="filename_list.length">
          <button type="button" class="btn btn-flat show-detail-btn" [matIcon]="openAttachfileIcon" (click)="openAttachfile()"></button>
          <div class="files-summary valign-container" style="display: inline-block">
            <span class="valign-item">일반 파일 {{filename_list.length}}개</span>
            <ng-container *ngIf="filesize_total !== -1">
              <span class="valign-item total-size">&nbsp;{{filesize_total | unitSize}}</span>
              <a class="valign-item" (click)="saveFileAll()">모두저장</a>
              <a class="valign-item" (click)="deleteFileAll()">모두삭제</a>
            </ng-container>
          </div>
          <ng-container *ngIf="isOpenAttachfile">
            <div *ngFor="let name of filename_list;let i=index">
              <span *ngIf="filesize_list[i] !== -1">
                <a (click)="saveFile(i)">{{name}}</a>
                <span>{{filesize_list[i] | unitSize}}</span>
                <a (click)="deleteFile(i)">clear</a>
              </span>
              <span *ngIf="filesize_list[i] === -1">
                {{name}}
                <span>이 첨부파일은 삭제되었습니다.</span>
              </span>
            </div>
          </ng-container>
        </ng-container>
        <!-- <ng-container *ngIf="large_filename_list.length">
          <button type="button" class="btn btn-flat show-detail-btn" [matIcon]="openLargeAttachfileIcon" (click)="openLargeAttachfile()"></button>
          <div class="files-summary valign-container" style="display: inline-block">
            <span class="valign-item">대용량 파일 {{large_filename_list.length}}개</span>
            <span>({{large_filesize_total | unitSize}})</span>
            <span>보관 {{large_save_days}}일, 다운로드 {{large_down_count}}회 (기간: {{large_end_time | datex: 'YYYY-MM-DD HH:mm:ss'}}까지)</span>
          </div>
          <ng-container *ngIf="isOpenLargeAttachfile">
            <div *ngFor="let name of large_filename_list; let i=index">
              <a (click)="saveLargeFile(i)">{{name}}</a>
              <span>{{large_filesize_list[i] | unitSize}}</span>
              <a (click)="deleteLargeFile(i)">clear</a>
            </div>
          </ng-container>
        </ng-container> -->
      </div>
    </div>
  
    <div class="mail-body">
      <iframe style="width: 100%; border-style: none" #contentFrame></iframe>
    </div>
  </section>
  
</div>
