/* ViewEncapsulation.Emulated */
$header-height: 98px;

header {
  padding: 20px 40px 0 40px;
  margin-left: -1px;
  height: $header-height;
  border-bottom: 1px #ddd solid;
}

.result-title {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 12px;
}

.result-message {
  vertical-align: middle;
}

.contact-edit {
  margin-left: 40px;
}

.contact-edit-item {
  margin-top: 8px;
}

.name-field,
.email-field,
.phone-type-field,
.phone-field,
.group-field {
  display: inline-block;
  width: auto;
  margin-left: 8px;
}

.name-field {
  width: 120px;
}

.email-field {
  width: 180px;
}

.phone-type-field {
  width: 100px;
}

.phoe-field {
  width: 144px;
}

.group-field {
  width: 144px;
}

.save-contact {
  margin-top: 12px;
}
