.btn.btn-flat {
  padding: 0;
}

header {
  padding-left: 40px;
  padding-right: 40px;
}

header {
  padding-top: 20px;
  height: 97px;
  margin-left: -1px;
}

.mailbox-summary {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.mailbox-name {
  display: inline-block;
  line-height: 1;
}

.header-actions {
  display: block;
  margin-bottom: 12px;
  overflow: hidden;
  /* float fix */
}

.saved-time {
  display: inline-block;
  color: #aaa;
  margin-left: 10px;
  padding: 7px 0;
}

/* .mail-header */

.mail-form {
  display: block;
  height: calc(100% - 97px);
  border-top: 1px #ddd solid;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  overflow-y: auto;
}

.mail-header .form-control,
.mail-header .bs-select,
.mail-header .bs-chip,
.mail-header .btn {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  margin-right: 8px;
  line-height: 1.2;
}

.mail-header .btn.btn-flat.material-icons {
  margin-right: 0;
}

.form-group {
  padding-left: 92px;
}

.form-label {
  width: 84px;
  margin-left: -92px;
  margin-right: 8px;
  display: inline-block;
  text-align: right;
}

.form-group,
.cc-bcc-container {
  margin-bottom: 8px;
}

.cc-bcc-container {
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
}

.cc-bcc-container>.form-group:last-child {
  margin-bottom: 0;
}

.bs-chip {
  margin-right: 6px;
  padding: 4px 8px;
  border-radius: 18px;
}

.bs-chip>.material-icons {
  font-size: 20px;
  vertical-align: middle;
  opacity: 0.8;
}

.bs-chip>.material-icons:hover {
  opacity: 0.54;
}

.from-name {
  width: 120px;
}

.from-email {
  width: 200px;
}

.to-email {
  width: 256px;
}

.form-group.subject-form {
  padding-right: calc(64px + 8px);
  position: relative;
}

.mail-header .send-option {
  position: absolute;
  width: 64px;
  margin: 0;
  right: 0;
  padding-left: 2px;
  padding-right: 18px;
}

.mail-header .subject {
  width: 100%;
  margin-right: 0;
}

.contact-toolbar>.btn:last-child {
  margin: 0;
}

.mail-options {
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  padding: 10px 0 2px 0;
  margin-bottom: 10px;
}

.mail-options>div {
  margin-bottom: 8px;
}
