<header>
  <div class="mailbox-summary" *ngIf="!_css.isPopupWindow">
    <span class="mailbox-name valign-container">
      <span class="valign-item">메일쓰기&nbsp;</span>
      <button type="button" class="btn btn-flat line-height_0 valign-item" (click)="openPopupWrite()">
        <i matIcon="open_in_new"></i>
      </button>
    </span>
  </div>
  <div class="header-actions">
    <div class="btn-toolbar pull-left">
      <button type="button" title="보내기" class="btn btn-primary" (click)="send()">
        보내기
      </button>
      <button type="button" title="미리보기" class="btn btn-default" (click)="preview()">
        미리보기
      </button>
      <button type="button" title="저장" class="btn btn-default" (click)="temporary_save(false)">
        저장
      </button>
      <label type="button" title="내게쓰기" class="btn line-height_0" [ngClass]="param.tome ? 'btn-success' : 'btn-default'">
        <bs-checkbox [(ngModel)]="param.tome" (change)="change_tome()">내게쓰기</bs-checkbox>
      </label>
    </div>
    <span class="saved-time" *ngIf="saved_time">
      <ng-container *ngIf="isAutoSave">자동 </ng-container>임시저장 {{saved_time | date:'HH:mm:ss'}}
    </span>
    <div class="encoding-config pull-right">
      <span class="valign-item">인코딩&nbsp;</span>
      <bs-select [(ngModel)]="param.encoding" class="line-height_1">
        <bs-option *ngFor="let opt of encoding_opts" [value]="opt.code">{{opt.name}}</bs-option>
      </bs-select>
    </div>
  </div>
</header>
<div class="mail-form">
  <section class="mail-header">
    <div class="form-group" *ngIf="!param.tome">
      <span class="form-label">보내는사람</span>
      <input type="text" class="form-control from-name" name="from_name" [(ngModel)]="param.from_name" />
      <bs-select class="from-email" name="from_email" [(ngModel)]="param.from_email">
        <bs-option *ngFor="let opt of email_opts" [value]="opt.code">{{opt.name}}</bs-option>
      </bs-select>
    </div>
    <div class="form-group" *ngIf="!param.tome">
      <span class="form-label">
        <button type="button" class="btn btn-flat" [matIcon]="show_cc_bcc ? 'arrow_drop_up' : 'arrow_drop_down'"
          (click)="toggleCcBcc()"></button>
        <span class="valign-item">받는사람</span>
      </span>
      <i *ngTemplateOutlet="contactForm; context: { list: [0, 1, 2, 3], autocompleteList: null }"></i>
      <div class="contact-toolbar pull-right">
        <button type="button" class="btn btn-default" (click)="openRecentImportant($event)">최근발신</button>
        <button type="button" class="btn btn-default" (click)="openContacts($event)">주소록</button>
      </div>
    </div>
    <div class="cc-bcc-container" *ngIf="show_cc_bcc">
      <div class="form-group">
        <span class="form-label">참조</span>
        <i *ngTemplateOutlet="contactForm; context: { list: [0, 1, 2, 3], autocompleteList: null }"></i>
      </div>
      <div class="form-group">
        <span class="form-label">숨은참조</span>
        <i *ngTemplateOutlet="contactForm; context: { list: [0, 1, 2, 3], autocompleteList: null }"></i>
      </div>
    </div>

    <!-- TEMPLATE -->
    <ng-template #contactForm let-list="list" let-autocompleteList="autocompleteList">
      <ng-container *ngFor="let item of list">
        <span bsChip="info"><span class="bs-chip-text">aaaa </span><i matIcon="cancel"></i></span>
        <input type="text" *ngIf="item === 3" class="form-control to-email">
      </ng-container>
      <span bsChip><span class="bs-chip-text">추가 </span> <i matIcon="add_circle"></i></span>
    </ng-template>

    <div class="form-group subject-form">
      <span class="form-label">제목</span>
      <input type="text" class="form-control subject" />
      <button type="button" class="btn btn-default send-option" (click)="send_option_opened = !send_option_opened">
        <span>옵션</span>
        <span class="absolute-center-y line-height_0"><i matIcon="{{ 'arrow_drop_up' }}"></i></span>
      </button>
    </div>

    <div class="mail-options container-fluid" *ngIf="send_option_opened">
      <div class="col-md-2">
        <bs-checkbox>개별발송</bs-checkbox>
      </div>
      <div class="col-md-2">
        <bs-checkbox><span class="valign-item">중요</span>&nbsp;<i matIcon="star" class="valign-item"></i></bs-checkbox>
      </div>
      <div class="col-md-2">
        <bs-checkbox><span class="valign-item">긴급</span>&nbsp;<i matIcon="priority_high" class="valign-item"></i></bs-checkbox>
      </div>
      <div class="col-md-2">
        <bs-checkbox>메일 도착 알림</bs-checkbox>
      </div>
      <div class="col-md-2">
        <bs-checkbox>메일 읽음 알림</bs-checkbox>
      </div>
      <div class="col-md-2">
        <bs-checkbox><span class="valign-item">태그 설정</span>&nbsp;<i matIcon="label" class="valign-item"></i></bs-checkbox>
      </div>
      <div class="col-md-4">
        <bs-checkbox><span class="valign-item">예약메일</span>&nbsp;<i matIcon="help" class="valign-item"></i>
        &nbsp;<span class="valign-item">2018-02-09 (금) 22:57</span></bs-checkbox>
      </div>
      <div class="col-md-2">
        <bs-checkbox><span class="valign-item">보안메일</span>&nbsp;<i matIcon="help" class="valign-item"></i></bs-checkbox>
      </div>
    </div>

  </section>

  <section class="mail-body" style="background-color: rgb(212, 212, 212); height: 100px;">
  </section>
</div>
