<header>
  <span class="result-title">메일쓰기 완료</span>
  <div style="overflow: hidden; position: relative">
    <span class="result-message absolute-center-y">
      {{ bean.mailbox_sn === 800 ? '나에게 메일이 발송되었습니다.' : '메일이 정상적으로 발송되었습니다.' }}
    </span>
    <div class="btn-toolbar pull-right">
      <a type="button" class="btn btn-default" routerLink="/legacy/mail/list-intro/1100">받은메일함</a>
      <a type="button" class="btn btn-default" routerLink="/legacy/mail/write">메일쓰기</a>
      <a type="button" class="btn btn-default">문자발송</a>
    </div>
  </div>
</header>
<ng-container *ngIf="bean.mailbox_sn!=800">
	<div class="contact-edit">
    <div *ngFor="let rcv of rcv_list;let i=index;" class="contact-edit-item form-group-sm">
      <bs-checkbox [(ngModel)]="rcv.checked" [disabled]="rcv.exists"></bs-checkbox>
      <input type="text" class="name-field form-control" placeholder="이름" [(ngModel)]="rcv.name" [disabled]="rcv.exists">
      <input type="email" class="email-field form-control" disabled placeholder="이메일" [(ngModel)]="rcv.email">
      <bs-select name="phone-type{{i}}" class="phone-type-field override-style" placeholder="연락처" [(ngModel)]="rcv.phone_type" [disabled]="rcv.exists">
        <bs-option value="1">휴대폰</bs-option>
        <bs-option value="2">직장</bs-option>
        <bs-option value="3">집</bs-option>
        <bs-option value="4">팩스(회사)</bs-option>
        <bs-option value="5">팩스(집)</bs-option>
        <bs-option value="6">기타</bs-option>
      </bs-select>
      <input type="tel" class="phone-field form-control" placeholder="연락처 입력" [(ngModel)]="rcv.phone_value" [disabled]="rcv.exists">
      <input type="text" class="group-field form-control" (keydown)="false" placeholder="소속그룹..." [disabled]="rcv.exists">
      <!-- <group-selector [disabled]="rcv.exists" [multiple]="true" [groups]="rcv.groups" (onOpened)="onOpened($event)" (onClosed)="onClosed(rcv,$event)"></group-selector> -->
    </div>
  </div>
  <div class="save-contact text-center">
    <button class="btn btn-primary" title="주소록에 저장" (click)="saveContacts($event)">주소록에 저장</button>
  </div>
</ng-container>
