/*
 * Base structure
 */

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  z-index: 200;
}

/*
 * Sidebar
 */
$base-screen-width: 1920px;
$sidebar-ratio: 2/16;
$main-ratio: 1 - $sidebar-ratio;

.sidebar {
  width: $base-screen-width * $sidebar-ratio;
  min-width: 219px;
  max-width: 378px;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: block;
  padding: 20px;
  padding-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;

  .nav > li {
    display: table;
    width: 100%;

    & > a {
      display: table-cell;
      width: auto;
      white-space: nowrap;
      vertical-align: middle;
    }
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  & > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  & > .active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
      background-color: #428bca;
    }
  }

  & > li.dir--left > a:not(.sub-btn) {
    width: 100%;
  }

  &.divider--top {
    border-top: 1px #ddd solid;
  }

  &.shorcuts {
    margin-bottom: 0;

    & > li > a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.nav.nav-hrz {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  & > li {
    float: left;
    text-align: center;
    display: block;
  }

  & > li > a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  &.items-3 > li {
    width: calc(100% / 3);

    &:last-child {
      width: calc(100% / 3 - 0.1px);
    }
  }

  &.items-4 > li {
    width: calc(100% / 4);

    &:last-child{
      width: calc(100% / 4 - 0.1px);
    }
  }
}

/*
   * Main content
   */

.main {
  height: 100%;
  width: calc(#{$base-screen-width * $main-ratio} - 0.5px);
  margin-left: $base-screen-width * $sidebar-ratio;
  position: relative;
  padding: 0px;
  padding-top: 51px;
  background-color: #fff;
  box-shadow: inset 6px 0px 6px -3px rgba(0, 0, 0, 0.3);

  .page-header {
    margin-top: 0;
  }
}

.bs-resizer-trigger {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
  cursor: ew-resize;
  z-index: 1;
}
