<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Incom</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li (click)="rotator = (rotator + 1)%COUNT"><a href="#">물병옥</a></li>
        <li><a href="#">아이콘</a></li>
        <li><a href="#">공지사항</a></li>
        <li><a>웹관리자</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="검색..." />
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><span bsGlyph="search"></span></button>
          </div>
        </div>
      </form>
      <form class="navbar-form navbar-right">
        <div class="input-group f">
          <input type="password" name="password" class="form-control" placeholder="패스워드" [(ngModel)]="pass">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default" (click)="changeUserPass()">변경</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid" style="height: 100%;">
  <div class="row" bsResizeContainer axis="x" style="position: relative; height: 100%">
    <div class="sidebar" bsResizable #sidebar="bsResizable">
      <mail-menu></mail-menu>
    </div>
    <div class="main" #main bsResizable [style.marginLeft.px]="sidebar.targetSize">
      <div bsResizerTrigger></div>
      <ng-container [ngSwitch]="rotator">
        <!-- <mail-list__normal [mode]="0" *ngSwitchCase="0"></mail-list__normal> -->
        <mail-list__normal [mode]="1" *ngSwitchCase="1"></mail-list__normal>
        <!-- <popup-test *ngSwitchCase="1" cdkOverlayOrigin #c="cdkOverlayOrigin" [overlayOrigin]="c"></popup-test> -->
        <mail-read *ngSwitchCase="2"></mail-read>
        <!-- <mail-write-result *ngSwitchCase="0"></mail-write-result> -->
        <mail-conf *ngSwitchCase="0"></mail-conf>
      </ng-container>
    </div>
  </div>
</div>
