@import 'variables';
$table-padding-side: 18px;
$table-row-height: 48px;

.well {
  margin-bottom: 10px; /* height-element-1 */
}

.main-controls {
  margin-bottom: 10px; /* height-elemen-2 */
}

@mixin radio-and-button {
  position: relative;
  overflow: hidden;

  & > .bs-radio-group {
    @include absolute-center-y;
    left: 0;
  }

  & > .bs-radio-group {
    display: inline-block;
    padding-left: $table-padding-side;
  }

  & > .btn {
    width: 64px;
    float: right;
  }
}

@mixin table-default {
  // .well + margin + radio and button + margin
  $offsetFromAbove: (60px + 10px + 34px + 10px);

  .table-container {
    height: calc(100% - #{$offsetFromAbove});
    overflow-y: auto;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  }

  .cdk-table {
    width: 100%;
  }

  .cdk-cell, .cdk-header-cell {
    vertical-align: middle;
    height: $table-row-height;
    border-bottom: $basicBorderStyle;
    width: auto;

    &:first-child {
      padding-left: $table-padding-side;
    }

    &:last-child {
      padding-right: $table-padding-side;
    }
  }

  .cdk-header-cell {
    font-weight: bold;
  }
}

@mixin button-column {
  width: 60px;
  line-height: 1;
  text-align: center;
}
