<h3 class="dialog-title">
	자동분류 추가
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>
	
<div class="dialog-content">
	<h4>1.분류 기준</h4>
	<section class="form-container">
		<div class="filter-group from-email">
			<div class="filter-label">보낸이 주소</div>
			<div class="filter-item single-line">
				<input type="text" class="form-control" placeholder="보낸이주소" [(ngModel)]="pms.from_email_pattern">
				<bs-checkbox class="filter-checkbox" [(ngModel)]="use_domain">도메인으로 비교</bs-checkbox>
        <bs-select placeholder="Compare code" [(ngModel)]="pms.from_email_compare">
          <bs-option *ngFor="let code of compare_codes" [value]="code.value">{{ code.name }}</bs-option>
        </bs-select>
			</div>
		</div>
		<div class="filter-group to-cc-email">
			<div class="filter-label">받는이,참조 주소</div>
			<div class="filter-item single-line">
				<input type="text" class="form-control" placeholder="받는이,참조 주소" [(ngModel)]="pms.to_cc_pattern">
				<bs-select placeholder="Compare code" [(ngModel)]="pms.to_cc_compare">
          <bs-option *ngFor="let code of compare_codes" [value]="code.value">{{ code.name }}</bs-option>
        </bs-select>
			</div>
		</div>
		<div class="filter-group">
			<div class="filter-label">메일 제목</div>
			<div class="filter-item single-line">
				<input type="text" class="form-control alone subject" placeholder="메일제목" [(ngModel)]="pms.subject_pattern">
			</div>
		</div>
		<div class="filter-group">
			<div class="filter-label">메일 내용</div>
			<div class="filter-item single-line">
				<input type="text" class="form-control alone body" placeholder="메일내용" [(ngModel)]="pms.body_pattern">
			</div>
		</div>
	</section>
			
	<p>
		<bs-checkbox [(ngModel)]="has_attached">첨부파일 있는 메일</bs-checkbox>
	</p>
		
	<section class="form-container">
		<div class="filter-group move-box">
			<div class="filter-label">메일 이동</div>
			<div class="filter-item">
				<bs-radio-group [(ngModel)]="mailmove_code">
          <bs-radio-button class="force-padding" value="1">
            <input type="text" class="form-control" name="mailbox-name" placeholder="메일함 선택..."
              [(ngModel)]="mailbox_name" (keydown)="keydownDummy()" (click)="openMailboxLayer()"
              cdkOverlayOrigin #mailboxLayerOrigin="cdkOverlayOrigin">
          </bs-radio-button>
          <bs-radio-button class="force-padding" value="2">
            <input type="text" class="form-control" name="upper-mailbox-name" placeholder="메일함 선택..."
              [(ngModel)]="upper_mailbox_name" (keydown)="keydownDummy()" (click)="openUpperMailboxLayer()"
              cdkOverlayOrigin #upperMailboxLayerOrigin="cdkOverlayOrigin">
            <input type="text" class="form-control" name="new-mailbox-name" [(ngModel)]="pms.new_mailbox_name" placeholder="새 메일함 추가">
          </bs-radio-button>
          <bs-radio-button class="force-padding" value="3"><span>휴지통으로 이동</span></bs-radio-button>
				</bs-radio-group>
			</div>
    </div>
    <div class="filter-group etc-settings">
			<div class="filter-label">기타 설정</div>
			<div class="filter-item single-line">
				<bs-checkbox [(ngModel)]="set_important">중요표시</bs-checkbox>
				<bs-checkbox [(ngModel)]="set_read">읽음으로 표시</bs-checkbox>
        <bs-checkbox class="tag-checkbox" (change)="changeChecked($event,tagSelector)" [(ngModel)]="set_tag">태그 설정</bs-checkbox>
        <button type="button" class="btn btn-flat line-height_0 tag-indicator" [class.inactive]="!tagSelector.tags"
            title="{{tagSelector.tags}}"
            (click)="tagSelector.setMailTag()"
            #tagSelectorBtn>
          <i matIcon="label"></i>
        </button>
        <tag-selector #tagSelector [tags]="pms.tag_name" (onSetting)="onSetting($event)"></tag-selector>
			</div>
		</div>
	</section>
	<p>
		<bs-checkbox [(ngModel)]="include_previous">기존메일도 포함</bs-checkbox>
	</p>
</div>

<footer class="dialog-actions">
	<button type="submit" class="btn btn-success" (click)="save($event)">저장</button>
	<button type="button" class="btn btn-default" (click)="cancel($event)">취소</button>
</footer>

<!-- Template to load into an overlay -->
<ng-template cdkPortal #mailboxTemplate="cdkPortal">
	<aside id="mailbox-layer" class="layer mailbox">
		<p>저장 메일함 선택<button type="button" class="close" aria-label="Close" (click)="closeLayer()"><span aria-hidden="true">&times;</span></button></p>
    	<tree-root #mailboxTree [nodes]="nodes" [focused]="true" [options]="{idField:'sn'}" (blur)="onMailboxBlur($event)" (activate)="onMailboxActivate($event)">
    	</tree-root>
	</aside>
</ng-template>
<ng-template cdkPortal #upperMailboxTemplate="cdkPortal">
	<aside id="upper-mailbox-layer" class="layer upper-mailbox">
		<p>상위 메일함 선택<button type="button" class="close" aria-label="Close" (click)="closeLayer()"><span aria-hidden="true">&times;</span></button></p>
    	<tree-root #upperMailboxTree [nodes]="upperNodes" [focused]="true" [options]="{idField:'sn'}" (blur)="onUpperMailboxBlur($event)" (activate)="onUpperMailboxActivate($event)">
    	</tree-root>
	</aside>
</ng-template>
