@import 'variables';
@import 'mixins';
@import './dialog-common-style';
@include _doubleColumnForm_type2('.filter-group', '.filter-label', '.filter-item');

.form-container {
  margin-bottom: 10px;
}

.from-email {
  .bs-checkbox {
    display: inline-block;
    width: 128px;
  }
}

.to-cc-email {
  .bs-select {
    margin-left: 144px;
  }
}

.move-box {
  > .filter-item:before {
    content: none;
  }

  .bs-radio-button {
    display: block;
    line-height: $fl_type2_rowHeight;
  }
}

.tag-checkbox {
  margin-right: 0;
}

.tag-indicator {
  padding: 5px 0;
}

p > .bs-checkbox {
  margin-left: 20px;
}
