@import 'variables';
@import 'mixins';
@import './dialog-common-style';
@include _doubleColumnForm_type2('.forward-group', '.forward-label', '.forward-item');

.input-group-btn {
  width: auto; /* 너비가 최대화되는걸 막음 */
}

.form-container {
  margin-bottom: 10px;
}

.item-block {
  margin-bottom: 8px;
}

.email-list, .domain-list {

  > .list-item {
    @include _itemWithRemoveButton;
  }

  padding: 4px 0;
  border: $basicBorderStyle;
  height: 80px;
  overflow-y: scroll;
}

.popup-contacts {
  @import 'contacts-dialog-common';
  @include _mainMixin(false);
}
