<h3 class="dialog-title" cdkOverlayOrigin>
	자동전달 추가
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>
	
<div class="dialog-content">
	<h4>1.전달 기준</h4>
	<section class="form-container">
		<div class="forward-group">
			<div class="forward-label">조건</div>
			<div class="forward-item single-line">
				<bs-radio-group [(ngModel)]="pms.check_allmail">
					<bs-radio-button value="1">모든메일</bs-radio-button>
					<bs-radio-button value="0">패턴 설정 메일</bs-radio-button>
				</bs-radio-group>
			</div>
		</div>
		<div class="forward-group" *ngIf="pms.check_allmail==1">
			<div class="forward-label">예외 설정</div>
			<div class="forward-item">
				<p>예외로 설정된 메일은 자동전달 하지 않음</p>
		    <div class="input-group item-block">
					<input type="text" class="form-control" name="except_recipient" [(ngModel)]="except_recipient" placeholder="이메일주소">
					<span class="input-group-btn">
						<button type="button" class="btn btn-success" (click)="addDirectExcept()">추가</button>
					</span>
				</div>
				<div class="email-list item-block">
				 	<div class="list-item" *ngFor="let except of except_list;let i=index;">
						 <span class="content-area">{{except.email}}</span>
						 <span class="side-content"><i role="button" matIcon="clear" (click)="deleteExcept(i)"></i></span>
				 	</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="pms.check_allmail==0">
			<div class="forward-group">
				<div class="forward-label">보낸이 주소</div>
				<div class="forward-item single-line">
					<input type="text" class="form-control" placeholder="보낸이주소" [(ngModel)]="pms.from_email_pattern">
					<bs-checkbox [(ngModel)]="use_domain">도메인으로 비교</bs-checkbox>
					<bs-select placeholder="Compare code" [(ngModel)]="pms.from_email_compare">
						<bs-option *ngFor="let code of compare_codes" [value]="code.value">{{ code.name }}</bs-option>
					</bs-select>
				</div>
			</div>
			<div class="forward-group">
				<div class="forward-label">받는이,참조 주소</div>
				<div class="forward-item single-line">
					<input type="text" class="form-control" placeholder="받는이,참조 주소" [(ngModel)]="pms.to_cc_pattern">
					<bs-select placeholder="Compare code" [(ngModel)]="pms.to_cc_compare">
						<bs-option *ngFor="let code of compare_codes" [value]="code.value">{{ code.name }}</bs-option>
					</bs-select>
				</div>
			</div>
			<div class="forward-group">
				<div class="forward-label">메일 제목</div>
				<div class="forward-item single-line">
					<input type="text" class="form-control alone" placeholder="메일제목" [(ngModel)]="pms.subject_pattern">
				</div>
			</div>
			<div class="forward-group">
				<div class="forward-label">메일 내용</div>
				<div class="forward-item single-line">
					<input type="text" class="form-control alone" placeholder="메일내용" [(ngModel)]="pms.body_pattern">
				</div>
			</div>
		</ng-container>
	</section>
	
	<h4>2.전달 옵션</h4>
	<section class="form-container">
		<div class="forward-group">
			<div class="forward-label">기간</div>
			<div class="forward-item">
				<div *ngIf="!isNoTerm" class="item-block">
					<input type="text" class="form-control" placeholder="Choose a date"
						bsDaterangepicker (bsValueChange)="isNoTerm=false" [(ngModel)]="bsRangeDate">
					<bs-checkbox [(ngModel)]="isNoTerm" (change)="changeNoTerm($event)">체크시 기간에 관계없이 동작</bs-checkbox>
				</div>
				<div class="item-block">
					<bs-checkbox [(ngModel)]="check_remove">원본메일을 휴지통으로 이동하고 전달</bs-checkbox>
				</div>
			</div>
		</div>
		<div class="forward-group">
			<div class="forward-label">메모</div>
			<div class="forward-item single-line">
				<input type="text" class="form-control alone" [(ngModel)]="pms.comments">
			</div>
		</div>
	
	</section>
	
	<h4>3.전달 주소</h4>
	<section class="form-container add-contact">
		<div class="forward-group">
			<div class="forward-label">주소 추가</div>
			<div class="forward-item">
				<div class="input-group item-block">
					<input type="text" class="form-control" [(ngModel)]="direct_forward" placeholder="이메일주소">
					<span class="input-group-btn">
						<button type="button" class="btn btn-success" (click)="addDirectForward($event)">추가</button>
						<button type="button" class="btn btn-default" (click)="openContacts($event)">주소록</button>
					</span>
				</div>
				<div class="domain-list item-block">
				 	<div class="list-item" *ngFor="let forward of forward_list;let i=index;">
						<span class="content-area">{{ forward | from_name_email }}</span>
						<span class="side-content"><i role="button" class="icon-xsmall" matIcon="clear" (click)="deleteForward(i)"></i></span>
				 	</div>
				</div>
			</div>
		</div>
	</section>
</div>

<footer class="dialog-actions">
	<button type="submit" class="btn btn-success" (click)="save($event)" [disabled]="!saveReady()">저장</button>
	<button type="button" class="btn btn-default" (click)="cancel($event)">취소</button>
</footer>

<ng-template cdkPortal #contactsTemplate="cdkPortal">
	<aside class="popup popup-contacts">
		<h3 class="dialog-title">
			전달자 주소 지정
		  <button class="close" aria-label="Close" (click)="closeContacts()"><span aria-hidden="true">&times;</span></button>
		</h3>
		<p>자동 전달할 사용자를 지정합니다.</p>
		<section class="dialog-content">
		
			<div class="search-controls">
		    <div class="input-group">
		      <input type="text" class="form-control search-bar">
		      <span class="input-group-btn">
		        <button class="btn btn-primary icon-small" matIcon="search" (click)="searchContacts($event)"></button>
		      </span>
		    </div>
				<bs-checkbox [(ngModel)]="includeChildren">하위요소포함</bs-checkbox>
		  </div>
		
			<div class="contacts-panel">
		    <div class="contacts-lists">
		      <accordion>
		        <accordion-group [isOpen]="contactsStep===0">
		          <header accordion-heading>조직도<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-dept-selector #deptContacts [includeChildren]="includeChildren"></lgc-contacts-dept-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===1">
		          <header accordion-heading>개인주소록<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-person-selector #personContacts [includeChildren]="includeChildren"></lgc-contacts-person-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===2">
		          <header accordion-heading>공용주소록<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-common-selector #commonContacts [includeChildren]="includeChildren"></lgc-contacts-common-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===3">
		          <header accordion-heading>직급<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-role-selector #roleContacts></lgc-contacts-role-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===4">
		          <header accordion-heading>직책<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-position-selector #positionContacts></lgc-contacts-position-selector> -->
		        </accordion-group>
		      </accordion>
		    </div>
							
				<div class="contacts-actions">
		      <button type="button" class="btn btn-default" (click)="addContacts()">추가</button>
				</div>
					
				<div class="contacts-results panel-group">
		      <div class="panel panel-default">
		        <header class="panel-heading">전달자 주소</header>
		        <div class="panel-body">
		          <div class="contact-item" *ngFor="let contact of contact_list;let i=index;">
		            <span class="content-area">{{ contact | from_name_email }}</span>
		            <span class="side-content"><i role="button" class=" icon-small" matIcon="clear" (click)="deleteContact(i)"></i></span>
		          </div>
		        </div>
		      </div>
		    </div>
			</div>
		</section>			
		
		<footer class="dialog-actions">
			<button type="button" class="btn btn-success" (click)="okContacts()">확인</button>
			<button type="button" class="btn btn-default" (click)="cancelContacts()">취소</button>
		</footer>
		
	</aside>
</ng-template>
