@import 'mixins';
@import './common-style';

.storage-usage {
  overflow: hidden;
  margin-bottom: 10px;
}

.input-group.search {
  display: inline-table;

  > .form-control {
    width: 256px;
  }

  > .input-group-btn {
    width: auto;
  }
}

@include table-default;

.cdk-column-checked {
  width: 54px;
}

.cdk-column-type {
  width: 128px;
  padding: 0 4px;
}

.cdk-column-mailboxName {
  width: auto;
  padding: 0 4px;

  .input-group > .form-control {
    width: 200px;
  }

  .input-group-btn {
    width: auto;
  }
}

.cdk-column-notreadNall,
.cdk-column-savingTerm {
  padding: 0 4px;
  text-align: center;
}

.cdk-column-notreadNall,
.cdk-column-lockedMail,
.cdk-column-capacity,
.cdk-column-savingTerm {
  width: 96px;
  text-align: center;
}

.cdk-column-more {
  @include button-column;
}
