@import 'mixins';
@import './common-style';

@include table-default;

.cdk-column-checked {
  width: 54px;
}

.cdk-column-rule {
  width: auto;
  padding: 0 4px;
}

.cdk-column-savedMailbox {
  width: 144px;
  padding: 0 4px;
}

.cdk-column-etc {
  text-align: center;
  width: 256px;
  padding: 0 4px;
}

.cdk-column-change, .cdk-column-delete {
  @include button-column;
}
