<div class="well">
  각 메일함별 편집, 백업, 복구할 수 있습니다. 백업완료 후 정상적으로 백업되었는지 확인이 필요합니다.
</div>
<div class="storage-usage">
  <div class="pull-left">
    (개인메일함: {{person_box_cnt}}개, 공유메일함: {{shared_box_cnt}}개, 잠금메일: {{locked_mail_cnt}}개)
  </div>
  <div class="pull-right">
    현재사용량 : {{used_mail_size}}MB({{used_mail_percent}}%) ------------------------{{mail_storage_size}}MB
  </div>
</div>
<div class="main-controls" ngPreserveWhitespaces>
  <button type="button" class="btn btn-primary" cdkOverlayOrigin #boxnameOrigin="cdkOverlayOrigin" (click)="openMailboxPopup()">새 메일함</button>
  <button type="button" class="btn btn-success" (click)="backup_all();">일괄백업</button>
  <button type="button" class="btn btn-success" (click)="restore_all();">일괄복구</button>

  <div class="input-group search pull-right">
    <input type="text" class="form-control" placeholder="" [(ngModel)]="search_keyword">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" (click)="search_folder()">검색</button>
    </span>
  </div>
</div>
   
  <div class="table-container">
    <cdk-table [dataSource]="dataSource">
    
      <!-- Checked Column -->
      <ng-container cdkColumnDef="checked">
        <cdk-header-cell *cdkHeaderCellDef><bs-checkbox [disabled]="true"></bs-checkbox></cdk-header-cell>
        <cdk-cell *cdkCellDef="let row"><bs-checkbox [(ngModel)]="row.checked"></bs-checkbox></cdk-cell>
      </ng-container>
  
      <!-- Rule Column -->
      <ng-container cdkColumnDef="type">
        <cdk-header-cell *cdkHeaderCellDef>구분</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          주석메일함
          <!-- <span *ngIf="row.sn==1100">기본메일함</span><span *ngIf="row.mark">개인메일함</span> -->
        </cdk-cell>
      </ng-container>
  
      <!-- ForwardEmail Column -->
      <ng-container cdkColumnDef="mailboxName">
        <cdk-header-cell *cdkHeaderCellDef>메일함명</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          주석메일함
          <!-- <ng-container *ngIf="!row.changeName"><span [style.margin-left]="calculateMargin(row)">{{_css.mailbox_o[row.sn].name}}</span></ng-container> -->
          <div class="input-group input-group-sm" *ngIf="row.changeName">
            <input type="text" class="form-control" [(ngModel)]="row.newName" [focusing]="row.focus">
            <span class="input-group-btn">
              <button class="btn btn-success" (click)="changeMailboxName(row)">저장</button>
              <button class="btn btn-default" (click)="row.changeName=false">취소</button>
            </span>
          </div>
        </cdk-cell>
      </ng-container>
          
      <!-- Term Column -->
      <ng-container cdkColumnDef="notreadNall">
        <cdk-header-cell *cdkHeaderCellDef>안읽음/전체</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          55 / 55
          <!-- {{_css.mailbox_o[row.sn].notread}}/{{_css.mailbox_o[row.sn].records}} -->
        </cdk-cell>
      </ng-container>
    
      <!-- RegisterDate Column -->
      <ng-container cdkColumnDef="lockedMail">
        <cdk-header-cell *cdkHeaderCellDef>잠금메일</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          5
          <!-- {{row.lock}} -->
        </cdk-cell>
      </ng-container>
      
      <!-- RegisterDate Column -->
      <ng-container cdkColumnDef="capacity">
        <cdk-header-cell *cdkHeaderCellDef>용량</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          500GB
          <!-- {{row.size | unitSize}} -->
        </cdk-cell>
      </ng-container>
      
      <!-- RegisterDate Column -->
      <ng-container cdkColumnDef="savingTerm">
        <cdk-header-cell *cdkHeaderCellDef>보관기간</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          500일
          <!-- <ng-container *ngIf="row.sn==0">{{_css.u_option.TRASH_DELETE_TERM}}일</ng-container> -->
        </cdk-cell>
      </ng-container>
      
      <!-- Change Column -->
      <ng-container cdkColumnDef="more">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          <div dropdown class="btn-group" container="body" placement="bottom right">
            <button type="button" dropdownToggle class="btn btn-flat line-height_0 dropdown-toggle">
              <i matIcon="more_vert"></i>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <li><a (click)="emptyMailBox(row.sn)"> 비우기 </a></li>
              <li><a (click)="renameMailBox(row)"> 수정 </a></li>
              <li><a (click)="backupMailBox(row.sn)"> 백업 </a></li>
              <li><a (click)="restoreMailBox(row.sn)"> 복구 </a></li>
              <li><a (click)="deleteMailBox(row.sn)"> 삭제 </a></li>
            </ul>
          </div>
        </cdk-cell>
      </ng-container>
    
      <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
      <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>
  
    </cdk-table>
  </div>
  