<div class="well">
  수신되는 메일을 다른 메일주소로 자동 전달하는 기능입니다.
</div>
<div class="main-controls" ngPreserveWhitespaces>
  <button type="button" class="btn btn-primary" (click)="deleteForwards($event)">추가</button>
  <button type="button" class="btn btn-default" (click)="addForward()">외부메일 가져오기</button>
</div>
 
<div class="table-container">
  <cdk-table [dataSource]="dataSource">
  
    <!-- Checked Column -->
    <ng-container cdkColumnDef="checked">
      <cdk-header-cell *cdkHeaderCellDef><bs-checkbox [disabled]="true"></bs-checkbox></cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"><bs-checkbox [(ngModel)]="row.checked"></bs-checkbox></cdk-cell>
    </ng-container>

    <!-- Rule Column -->
    <ng-container cdkColumnDef="rule">
      <cdk-header-cell *cdkHeaderCellDef>규칙</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        모오오오오오든 메일 [주석해제]
        <!-- <span tooltip="{{getFilterRule(row.rule_list)}}">{{getFilterRuleCore(row.rule_list)}}</span> -->
      </cdk-cell>
    </ng-container>

    <!-- ForwardEmail Column -->
    <ng-container cdkColumnDef="forwardEmail">
      <cdk-header-cell *cdkHeaderCellDef>전달 메일주소</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        aaaaaaaaaaaaaaaaaaaaaaa<br>
        주석해제주석해제주석해<br>
        주석해제주석해제주석해<br>
        주석해제주석해제주석해
        <!-- <ng-container *ngFor="let forward of getForwardList(row);let i=index;">
          {{forward.email | recipient:forward.name}}<br>
        </ng-container> -->
      </cdk-cell>
    </ng-container>
        
    <!-- Term Column -->
    <ng-container cdkColumnDef="term">
      <cdk-header-cell *cdkHeaderCellDef>기간</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        {{row.begin_time | datex: 'YYYY-MM-DD'}} ~ {{row.end_time | datex: 'YYYY-MM-DD'}}
      </cdk-cell>
    </ng-container>
  
    <!-- RegisterDate Column -->
    <ng-container cdkColumnDef="registerDate">
      <cdk-header-cell *cdkHeaderCellDef>등록일</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        {{row.create_time | datex: 'YYYY-MM-DD'}}
      </cdk-cell>
    </ng-container>
    
    <!-- Change Column -->
    <ng-container cdkColumnDef="change">
      <cdk-header-cell *cdkHeaderCellDef>수정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button type="button" class="btn btn-success btn-sm icon-small" (click)="changeForward(row)" matIcon="edit"></button>
      </cdk-cell>
    </ng-container>
  
    <!-- Delete Column -->
    <ng-container cdkColumnDef="delete">
      <cdk-header-cell *cdkHeaderCellDef>삭제</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button type="button" class="btn btn-danger btn-sm icon-small" (click)="deleteForward(row.sn)" matIcon="clear"></button>
      </cdk-cell>
    </ng-container>
  
    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

  </cdk-table>
</div>
