<div class="well">
  설정한 분류항목에 따라 메일을 자동으로 분류 할 수 있습니다.
  <br>
  같은 메일에 여러 개의 자동 분류 규칙이 등록되면, 분류 목록에서 상단에 있는 규칙이우선 적용됩니다.
</div>
<div class="main-controls" ngPreserveWhitespaces>
  <button type="button" class="btn btn-primary" (click)="deleteFilters($event)">추가</button>
  <button type="button" class="btn btn-default" (click)="addFilter()">외부메일 가져오기</button>
</div>
 
<div class="table-container">
  <cdk-table [dataSource]="dataSource">
  
    <!-- Checked Column -->
    <ng-container cdkColumnDef="checked">
      <cdk-header-cell *cdkHeaderCellDef><bs-checkbox [disabled]="true"></bs-checkbox></cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"><bs-checkbox [(ngModel)]="row.checked"></bs-checkbox></cdk-cell>
    </ng-container>

    <!-- Rule Column -->
    <ng-container cdkColumnDef="rule">
      <cdk-header-cell *cdkHeaderCellDef>규칙</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        주주어어어어석메일
        <!-- <span tooltip="{{getFilterRule(row.rule_list)}}">{{getFilterRuleCore(row.rule_list)}}</span> -->
      </cdk-cell>
    </ng-container>

    <!-- ForwardEmail Column -->
    <ng-container cdkColumnDef="savedMailbox">
        <cdk-header-cell *cdkHeaderCellDef>저장메일함</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
          주석메일함임
          <!-- {{_css.mailbox_o[row.save_mailbox].name}} -->
        </cdk-cell>
    </ng-container>
        
    <!-- Term Column -->
    <ng-container cdkColumnDef="etc">
      <cdk-header-cell *cdkHeaderCellDef> 기타설정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        주석표시, 주석표시, 주석주석도 포함
        <!-- {{getEtcOption(row)}} -->
      </cdk-cell>
    </ng-container>
    
    <!-- Change Column -->
    <ng-container cdkColumnDef="change">
      <cdk-header-cell *cdkHeaderCellDef>수정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button type="button" class="btn btn-success btn-sm icon-small" (click)="changeForward(row)" matIcon="edit"></button>
      </cdk-cell>
    </ng-container>
  
    <!-- Delete Column -->
    <ng-container cdkColumnDef="delete">
      <cdk-header-cell *cdkHeaderCellDef>삭제</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button type="button" class="btn btn-danger btn-sm icon-small" (click)="deleteForward(row.sn)" matIcon="clear"></button>
      </cdk-cell>
    </ng-container>
  
    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

  </cdk-table>
</div>
