@import 'mixins';
@import './common-style';

@include table-default;

.cdk-column-checked {
  width: 54px;
}

.cdk-column-rule {
  width: auto;
  padding-right: 12px;
}

.cdk-column-forwardEmail {
  width: 256px;
  padding: 4px 4px;

  &.cdk-header-cell {
    padding-left: 16px;
  }
}

.cdk-column-term {
  text-align: center;
  width: 192px;
  padding: 0 4px;
}

.cdk-column-registerDate {
  text-align: center;
  width: 96px;
  padding: 0 4px;
}

.cdk-column-change, .cdk-column-delete {
  @include button-column;
}
