@import 'mixins';

:host {
  text-align: left;
  display: block;
  padding: 10px 20px;
}

.bs-error {
  margin-top: 4px;
  margin-bottom: 0;
}

.dialog-content {
  margin-top: 24px;
}

.dialog-actions {
  @include _footerButtons;
}
