@import 'variables';
@import 'mixins';
@import './dialog-common-style';

$column1-width: 128px;
$column2-width: 768px;

.form-group {
  white-space: nowrap;
  border-bottom: $basicBorderStyle;
  padding-bottom: 8px;
  margin-bottom: 8px;

  .bs-error {
    margin-left: $column1-width;
    width: $column2-width;
  }
}
.form-title {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  width: $column1-width;
}

.form-content {
  display: inline-block;
  vertical-align: middle;
  width: $column2-width;
}

.form-message {
  & > .form-title,
  & > .form-content {
    vertical-align: top;
  }
}

.form-daterange {
  input[bsDaterangepicker] {
    display: inline-block;
    width: 200px;
  }

  .bs-checkbox {
    margin-left: 8px;
  }
}

.form-who {
  .input-group {
    margin: 8px 0;
  }

  .contact-item {
    max-width: 256px;
  }
}

.other-recipient {
  margin-left: $column1-width;
  width: $column2-width;
}
