<h3 class="dialog-title">
	{{title}}
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>
	
<section class="dialog-content">
	<form [formGroup]="outerForm" novalidate>
		<div class="outer-group service">
			<div class="outer-label">서비스 선택</div>
			<div class="outer-item single-line">
				<bs-select class="service-opt" placeholder="선택하세요" (change)="changeService()" [(ngModel)]="selected_service" [ngModelOptions]="{standalone: true}">
					<bs-option *ngFor="let service of service_data1" [value]="service.server">{{ service.name }}</bs-option>
					<bs-option value="" [disabled]="true">-------------------------</bs-option>
					<bs-option *ngFor="let service of service_data2" [value]="service.server">{{ service.name }}</bs-option>
					<bs-option value="" [disabled]="true">-------------------------</bs-option>
					<bs-option value="direct">직접입력</bs-option>
				</bs-select>
				<input type="text" class="form-control service-self" *ngIf="selected_service!=='direct'" placeholder="서비스명" formControlName="service">
			</div>
			<div class="outer-more" *ngIf="service.dirty && service.errors">
				<bs-error>
					Service name is <strong>required</strong>
				</bs-error>
			</div>
		</div>
		<div class="outer-group domain" *ngIf="selected_service=='direct'">
			<div class="outer-label">서버도메인(POP3)</div>
			<div class="outer-item single-line">
				<input type="url" class="form-control" placeholder="" formControlName="server">
			</div>
			<div class="outer-more" *ngIf="server.dirty && server.errors">
				<bs-error *ngIf="server.hasError('required')">
					Server domain is <strong>required</strong>
				</bs-error>
				<bs-error *ngIf="server.hasError('pattern')">
					Please enter a valid server domain
				</bs-error>
			</div>
		</div>
		<div class="outer-group account-name">
			<div class="outer-label">아이디</div>
			<div class="outer-item single-line">
				<input type="text" class="form-control alone" placeholder="" formControlName="account">
			</div>
			<div class="outer-more" *ngIf="account.dirty && account.errors">
				<bs-error *ngIf="account.hasError('required')">
					Account is	<strong>required</strong>
				</bs-error>
				<bs-error *ngIf="account.hasError('pattern')">
					Please enter a valid account
				</bs-error>
			</div>
		</div>
		<div class="outer-group password">
			<div class="outer-label">패스워드</div>
			<div class="outer-item single-line">
				<input type="password" class="form-control alone" placeholder="" formControlName="password">
			</div>
			<div class="outer-more" *ngIf="password.dirty && password.errors">
				<bs-error *ngIf="password.hasError('required')">
					Password is <strong>required</strong>
				</bs-error>
			</div>
		</div>
		<div class="outer-group port">
			<div class="outer-label">연결포트</div>
			<div class="outer-item single-line">
				<input type="number" class="form-control" placeholder="" formControlName="port">
				<span> (표준포트:110) </span>
				<bs-checkbox [(ngModel)]="ssl_flag" [ngModelOptions]="{standalone: true}">SSL</bs-checkbox>
			</div>
			<div class="outer-more" *ngIf="port.dirty && port.errors">
				<bs-error *ngIf="port.hasError('required')">
					Port is <strong>required</strong>
				</bs-error>
				<bs-error *ngIf="port.hasError('pattern')">
					Please enter a valid port
				</bs-error>
			</div>
		</div>
	</form>
	
	<div class="outer-group save-box">
		<div class="outer-label">저장할 메일함</div>
		<div class="outer-item">
			<bs-radio-group class="mailsave-radio-group" [(ngModel)]="mailsave_code">
				<bs-radio-button class="force-padding" value="0">
					<input type="text" class="form-control" name="mailbox-name" placeholder="메일함 선택..."
						[(ngModel)]="mailbox_name" (keydown)="keydownDummy()" (click)="openMailboxLayer()"
						cdkOverlayOrigin #mailboxLayerOrigin="cdkOverlayOrigin">
				</bs-radio-button>
				<bs-radio-button class="force-padding" value="1">
					<input type="text" class="form-control" name="upper-mailbox-name" placeholder="메일함 선택..."
						[(ngModel)]="upper_mailbox_name" (keydown)="keydownDummy()" (click)="openUpperMailboxLayer()"
						cdkOverlayOrigin #upperMailboxLayerOrigin="cdkOverlayOrigin">
					<input type="text" class="form-control new-mailbox" name="new-mailbox-name" [(ngModel)]="pms.new_mailbox_name" placeholder="새 메일함 추가">
				</bs-radio-button>
			</bs-radio-group>
		</div>
	</div>
	<div class="outer-group">
		<div class="outer-label">자동으로 가져오기</div>
		<div class="outer-item single-line">
			<bs-checkbox [(ngModel)]="auto_flag">자동으로 가져오기</bs-checkbox>
		</div>
	</div>
	<div class="outer-group">
		<div class="outer-label">메일 자동분류 적용</div>
		<div class="outer-item single-line">
			<bs-checkbox [(ngModel)]="filter_flag">메일 자동분류 적용</bs-checkbox>
		</div>
	</div>
	<div class="outer-group">
		<div class="outer-label">서버에 원본 남기기</div>
		<div class="outer-item single-line">
			<bs-checkbox [(ngModel)]="save_flag">서버에 원본 남기기</bs-checkbox>
		</div>
	</div>
	<div class="outer-group">
		<div class="outer-label">스팸 필터링 적용</div>
		<div class="outer-item single-line">
			<bs-checkbox [(ngModel)]="spam_flag">스팸 필터링 적용</bs-checkbox>
		</div>
	</div>

</section>

<footer class="dialog-actions">
	<button type="submit" class="btn btn-success" (click)="save($event)" [disabled]="!saveReady()">저장</button>
	<button type="button" class="btn btn-default" (click)="cancel($event)">취소</button>
</footer>

<!-- Template to load into an overlay -->
<ng-template cdkPortal #mailboxTemplate="cdkPortal">
	<aside id="mailbox-layer" class="layer mailbox">
		<p>저장 메일함 선택<button type="button" class="close" aria-label="Close" (click)="closeLayer()"><span aria-hidden="true">&times;</span></button></p>
    	<tree-root #mailboxTree [nodes]="nodes" [focused]="true" [options]="{idField:'sn'}" (blur)="onMailboxBlur($event)" (activate)="onMailboxActivate($event)">
    	</tree-root>
	</aside>
</ng-template>
<ng-template cdkPortal #upperMailboxTemplate="cdkPortal">
	<aside id="upper-mailbox-layer" class="layer upper-mailbox">
		<p>상위 메일함 선택<button type="button" class="close" aria-label="Close" (click)="closeLayer()"><span aria-hidden="true">&times;</span></button></p>
    	<tree-root #upperMailboxTree [nodes]="upperNodes" [focused]="true" [options]="{idField:'sn'}" (blur)="onUpperMailboxBlur($event)" (activate)="onUpperMailboxActivate($event)">
    	</tree-root>
	</aside>
</ng-template>
