<h3 cdkOverlayOrigin class="dialog-title">
	서명 추가
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>
		
<section class="dialog-content">
	<form #absentForm="ngForm" class="form-group subject">
		<div class="form-title">서명 제목</div>
		<div class="form-content">
			<input type="text" name="subject" class="form-control" [focusing]="subjectFocus" [(ngModel)]="subject" required>
		</div>
		<bs-error>
			제목을 입력해야합니다.
		</bs-error>
	</form>
	<div class="form-message">
		<div class="form-title">머리말</div>
		<!-- <div class="form-content">
			<ckeditor #ckeditorSign1 [(ngModel)]="ckeContentSign1" [config]="ckeOptionsSign1" (change)="onCkeChange($event)" (ready)="onCkeReady($event)"
				(focus)="onCkeFocus($event)" (blur)="onCkeBlur($event)" debounce="1000">
			</ckeditor>
		</div> -->
		<div class="form-content">CKEditor</div>
	</div>
	<div class="form-message">
		<div class="form-title">꼬리말</div>
		<!-- <div class="form-content">
			<ckeditor #ckeditorSign2 [(ngModel)]="ckeContentSign2" [config]="ckeOptionsSign2" (change)="onCkeChange($event)" (ready)="onCkeReady($event)"
				(focus)="onCkeFocus($event)" (blur)="onCkeBlur($event)" debounce="1000">
			</ckeditor>
			<div id="editsignBottomSpace"></div>
		</div> -->
		<div class="form-content">CKEditor</div>
	</div>
</section>

<footer class="dialog-actions">
	<button type="submit" class="btn btn-success" (click)="save()" [disabled]="!absentForm.form.valid">저장</button>
	<button type="button" class="btn btn-default" (click)="cancel()">취소</button>
</footer>
