<h3 cdkOverlayOrigin class="dialog-title">
	부재중 설정 추가
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>
		
<section class="dialog-content">
	<form #absentForm="ngForm" class="form-group subject">
		<div class="form-title">답장 제목</div>
		<div class="form-content">
			<input type="text" name="subject" class="form-control" [focusing]="subjectFocus" [(ngModel)]="subject" required>
		</div>
		<bs-error>
			제목을 입력해야합니다.
		</bs-error>
	</form>
	<div class="form-group form-daterange">
		<div class="form-title">기간 설정</div>
		<div class="form-content">
			<input type="text" class="form-control" [disabled]="isNoTerm" placeholder="Choose a date"
				bsDaterangepicker (bsValueChange)="isNoTerm=false" [(ngModel)]="bsRangeDate">
			<bs-checkbox [(ngModel)]="isNoTerm" (change)="changeNoTerm($event)">체크시 기간에 관계없이 동작</bs-checkbox>
		</div>
	</div>
	<div class="form-group form-who">
		<div class="form-title">대리 수신자 설정</div>
		<div class="form-content">
			<bs-checkbox [(ngModel)]="setOtherRecipient">대리수신자 지정</bs-checkbox>
		</div>
		<div class="other-recipient" *ngIf="setOtherRecipient"> 	
			<div class="input-group input-group-sm">
				<input type="email" class="form-control" [(ngModel)]="direct_other">
				<div class="input-group-btn">
					<button type="button" class="btn btn-success" (click)="addDirectOther()">추가</button>
					<button type="button" class="btn btn-default" (click)="openContacts()">주소록</button>
				</div>
			</div>
			<div class="contact-item" *ngFor="let other of other_list;let i=index;">
				<span class="content-area">{{ other | from_name_email }}</span>
				<span class="side-content"><i role="button" class="icon-small" matIcon="clear" (click)="deleteOther(i)"></i></span>
			</div>
		</div>
	</div>
	<div class="form-message">
		<div class="form-title">내용</div>
		<!-- <ckeditor #ckeditorAbsent [(ngModel)]="ckeContentAbsent" [config]="ckeOptionsAbsent" (change)="onCkeChange($event)" (ready)="onCkeReady($event)"
			(focus)="onCkeFocus($event)" (blur)="onCkeBlur($event)" debounce="1000">
		</ckeditor> -->
		<div class="form-content">CKEditor</div>
	</div>
</section>

<footer class="dialog-actions">
	<button type="submit" class="btn btn-success" (click)="save()" [disabled]="!absentForm.form.valid">저장</button>
	<button type="button" class="btn btn-default" (click)="cancel()">취소</button>
</footer>

<ng-template cdkPortal #contactsTemplate="cdkPortal">
	<aside class="popup popup-contacts">
		<h3 class="dialog-title">
			대리수신자 지정
		  <button class="close" aria-label="Close" (click)="closeContacts()"><span aria-hidden="true">&times;</span></button>
		</h3>
		<p>부재중에 대리로 수신할 사용자를 지정합니다.</p>
		<section class="dialog-content">
		
			<div class="search-controls">
		    <div class="input-group">
		      <input type="text" class="form-control search-bar">
		      <span class="input-group-btn">
		        <button class="btn btn-primary icon-small" matIcon="search" (click)="searchContacts($event)"></button>
		      </span>
		    </div>
				<bs-checkbox [(ngModel)]="includeChildren">하위요소포함</bs-checkbox>
		  </div>
		
			<div class="contacts-panel">
		    <div class="contacts-lists">
		      <accordion>
		        <accordion-group [isOpen]="contactsStep===0" (isOpenChange)="setContactsStep(0, $event)">
		          <header accordion-heading>조직도<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-dept-selector #deptContacts [includeChildren]="includeChildren"></lgc-contacts-dept-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===1" (isOpenChange)="setContactsStep(1, $event)">
		          <header accordion-heading>개인주소록<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-person-selector #personContacts [includeChildren]="includeChildren"></lgc-contacts-person-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===2" (isOpenChange)="setContactsStep(2, $event)">
		          <header accordion-heading>공용주소록<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-common-selector #commonContacts [includeChildren]="includeChildren"></lgc-contacts-common-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===3" (isOpenChange)="setContactsStep(3, $event)">
		          <header accordion-heading>직급<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-role-selector #roleContacts></lgc-contacts-role-selector> -->
		        </accordion-group>
		        <accordion-group [isOpen]="contactsStep===4" (isOpenChange)="setContactsStep(4, $event)">
		          <header accordion-heading>직책<i class="arrow">&nbsp;</i></header>
		          <!-- <lgc-contacts-position-selector #positionContacts></lgc-contacts-position-selector> -->
		        </accordion-group>
		      </accordion>
		    </div>
							
				<div class="contacts-actions">
		      <button type="button" class="btn btn-default" (click)="addContacts()">추가</button>
				</div>
					
				<div class="contacts-results panel-group">
		      <div class="panel panel-default">
		        <header class="panel-heading">대리수신자</header>
		        <div class="panel-body">
		          <div class="contact-item" *ngFor="let contact of contact_list;let i=index;">
		            <span class="content-area">{{ contact | from_name_email }}</span>
		            <span class="side-content"><i role="button" class=" icon-small" matIcon="clear" (click)="deleteContact(i)"></i></span>
		          </div>
		        </div>
		      </div>
		    </div>
			</div>
		</section>			
		
		<footer class="dialog-actions">
			<button type="button" class="btn btn-success" (click)="okContacts()">확인</button>
			<button type="button" class="btn btn-default" (click)="cancelContacts()">취소</button>
		</footer>
		
	</aside>
</ng-template>
