@import './dialog-common-style';

.form-group {
  white-space: nowrap;

  .btn:last-of-type {
    margin-left: 4px;
    margin-bottom: 0;
  }
}

.account, .at-sign, .domain {
  vertical-align: middle;
}

.account {
  display: inline-block;
  width: 192px;
}

.check-message {
  margin: 4px 0 0;
}
