<h3 class="dialog-title">
	계정 추가
  <button class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
</h3>
		
<section class="dialog-content">
	<form class="form-group">
		<input type="text" class="form-control input-sm account" name="account" placeholder="아이디 입력" [(ngModel)]="account" [formControl]="accountFormControl">
		<span class="at-sign"> @ </span>
		<bs-select class="form-group-sm override-style domain" name="domain" placeholder="Domain" [(ngModel)]="domain">
			<bs-option *ngFor="let domain of _css.session.domain_list" [value]="domain">{{ domain }}</bs-option>
		</bs-select>
		<button class="btn btn-primary btn-sm" [disabled]="accountFormControl.pristine || accountFormControl.invalid" (click)="existsEmail()">검색</button>
		<bs-error *ngIf="accountFormControl.hasError('pattern')">
			Please enter a valid account
		</bs-error>
		<bs-error *ngIf="accountFormControl.hasError('required')">
			Account is <strong>required</strong>
		</bs-error>
		<p class="check-message" *ngIf="checked_email">
			<span *ngIf="email_account && !exists_email">{{email_account}} 사용 가능합니다.</span>
			<span *ngIf="email_account && exists_email">{{email_account}} 계정이 존재합니다.</span>
		</p>
	</form>
</section>

<footer class="dialog-actions">
	<button type="submit" class="btn btn-success" (click)="save($event)" [disabled]="!checked_email || exists_email">저장</button>
	<button type="button" class="btn btn-default" (click)="cancel($event)">취소</button>
</footer>
