@import 'variables';
@import 'mixins';
@import './dialog-common-style';
$row-height: 48px;
$label-width: 174px;
@include _doubleColumnForm_type2('.outer-group', '.outer-label', '.outer-item', '.outer-more', $row-height, $label-width);

.bs-radio-button .form-control:last-child {
  margin-right: 0;
}

.outer-more {
  .bs-error {
    margin: {
      left: 12px;
      bottom: 8px;
    }
  }
}

.service {
  .service-opt {
    width: 192px;
  }

  .service-self {
    display: inline-block;
    width: calc(100% - 214px);
  }
}

.port {
  .form-control {
    width: 80px;
  }
}

.save-box {
  & > .outer-item:before {
    content: none;
  }

  .bs-radio-button {
    display: block;
    line-height: 48px;
  }
}
