@import 'mixins';
@import './common-style';

@include table-default;

.cdk-column-checked {
  width: 54px;
}

.cdk-column-serviceName {
  width: auto;
  padding-right: 12px;
}

.cdk-column-account {
  width: 160px;
  padding-right: 12px;
}

.cdk-column-savedMailbox {
  width: 160px;
  padding-right: 12px;
}
.cdk-column-saveOriginal {
  width: 96px;
  padding-right: 12px;
}

.cdk-column-change, .cdk-column-delete {
  @include button-column;
}
