<div class="well">
  다른 서비스 계정에서 POP사용 설정을 한 경우만 메일을 가져올 수 있습니다.
</div>
<div class="main-controls" ngPreserveWhitespaces>
  <button type="button" class="btn btn-primary" (click)="addOuter($event)">추가</button>
  <button type="button" class="btn btn-default" (click)="retrieveOuter($event)">외부메일 가져오기</button>
</div>
 
<div class="table-container">
  <cdk-table [dataSource]="dataSource">
  
    <!-- Checked Column -->
    <ng-container cdkColumnDef="checked">
      <cdk-header-cell *cdkHeaderCellDef><bs-checkbox [disabled]="true"></bs-checkbox></cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"><bs-checkbox [(ngModel)]="row.checked"></bs-checkbox></cdk-cell>
    </ng-container>

    <!-- Rule Column -->
    <ng-container cdkColumnDef="serviceName">
      <cdk-header-cell *cdkHeaderCellDef>서비스명</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">{{row.service_name}}</cdk-cell>
    </ng-container>

    <!-- ForwardEmail Column -->
    <ng-container cdkColumnDef="account">
      <cdk-header-cell *cdkHeaderCellDef>아이디</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        {{row.account}}
      </cdk-cell>
    </ng-container>
        
    <!-- Term Column -->
    <ng-container cdkColumnDef="savedMailbox">
      <cdk-header-cell *cdkHeaderCellDef>저장메일함</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        받은뭬에야
        <!-- {{_css.mailbox_o[row.mailbox_sn].name}} -->
      </cdk-cell>
    </ng-container>
  
    <!-- RegisterDate Column -->
    <ng-container cdkColumnDef="saveOriginal">
      <cdk-header-cell *cdkHeaderCellDef>원본저장</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        저장안행
        <!-- {{getSaveFlag(row.save_flag)}} -->
      </cdk-cell>
    </ng-container>
    
    <!-- Change Column -->
    <ng-container cdkColumnDef="change">
      <cdk-header-cell *cdkHeaderCellDef>수정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button type="button" class="btn btn-success btn-sm icon-small" (click)="changeOuter(row)" matIcon="edit"></button>
      </cdk-cell>
    </ng-container>
  
    <!-- Delete Column -->
    <ng-container cdkColumnDef="delete">
      <cdk-header-cell *cdkHeaderCellDef>삭제</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button type="button" class="btn btn-danger btn-sm icon-small" (click)="deleteOuter(row.sn)" matIcon="clear"></button>
      </cdk-cell>
    </ng-container>
  
    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

  </cdk-table>
</div>
