<div class="well">
  기본 계정 외에 추가로 등록하는 계정으로 메일을 송.수신할 수 있습니다. ( {{limit}} 개까지 등록 가능 )
</div>
<div class="main-controls">
  <button type="button" class="btn btn-primary" (click)="addAccount($event)">계정추가</button>
</div>
 
<div class="table-container">
  <cdk-table [dataSource]="dataSource">

    <!-- Checked Column -->
    <ng-container cdkColumnDef="selected">
      <cdk-header-cell *cdkHeaderCellDef>기본계정설정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <bs-radio-group [(ngModel)]="selectedAccount">
          <bs-radio-button (change)="changeSelected(row.email_account)" [value]="row.email_account"></bs-radio-button>
        </bs-radio-group>
      </cdk-cell>
    </ng-container>

    <!-- Rule Column -->
    <ng-container cdkColumnDef="account">
      <cdk-header-cell *cdkHeaderCellDef>계정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">{{row.email_account}}</cdk-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container cdkColumnDef="delete">
      <cdk-header-cell *cdkHeaderCellDef>삭제</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button type="button" class="btn btn-danger icon-small" matIcon="clear" (click)="deleteAccount(row.email_account)"
          *ngIf="row.email_account != selectedAccount"></button>
      </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>
  
  </cdk-table>
</div>
