@import 'mixins';
@import './common-style';

.main-controls {
  @include radio-and-button;
}

@include table-default;

.cdk-column-selected {
  & > .bs-radio-group,
  & > .subject {
    @include valign-item;
  }

  & > .bs-radio-group {
    padding-right: 8px;
  }
}

.cdk-column-change,
.cdk-column-delete {
  @include button-column;
}
