@import 'mixins';
@import './common-style';

@include table-default;

.cdk-column-selected {
  & > .bs-radio-group,  & > .subject {
    @include valign-item;
  }
}

.cdk-column-selected {
  text-align: center;
  width: 120px;
  padding-right: 18px;
}

.cdk-column-delete {
  @include button-column;
}
