<div class="well">
  메일 발송시 메일 하단에 함께 첨부됩니다.
</div>
<div class="main-controls">
  <bs-radio-group [(ngModel)]="selectedSign">
    <bs-radio-button (change)="changeSelected(0)" value="0">서명 사용 안함</bs-radio-button>
  </bs-radio-group>
  <button type="button" class="btn btn-primary" (click)="addSign()">추가</button>
</div>
 
<div class="table-container">
  <cdk-table [dataSource]="dataSource">
  
    <ng-container cdkColumnDef="selected">
      <cdk-header-cell *cdkHeaderCellDef>기본설정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <bs-radio-group [(ngModel)]="selectedSign">
          <bs-radio-button (change)="changeSelected(row.sn)" [value]="row.sn"></bs-radio-button>
        </bs-radio-group>
        <span class="subject">{{row.subject}}</span>
      </cdk-cell>
    </ng-container>
  
    <ng-container cdkColumnDef="change">
      <cdk-header-cell *cdkHeaderCellDef> 수정</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" title="수정">
        <button type="button" class="btn btn-success btn-sm icon-small" (click)="editSign(row)" matIcon="edit"></button>
      </cdk-cell>
    </ng-container>
  
    <!-- Delete Column -->
    <ng-container cdkColumnDef="delete">
      <cdk-header-cell *cdkHeaderCellDef>삭제</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" title="삭제">
        <button type="button" class="btn btn-danger btn-sm icon-small" (click)="deleteSign(row.sn)" matIcon="clear"></button>
      </cdk-cell>
    </ng-container>
  
    <cdk-header-row *cdkHeaderRowDef="displayedColumns" style="display: none;"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

  </cdk-table>
</div>
