@import 'mixins';
@import './common-style';

@include table-default;

.main-controls {
  @include radio-and-button;
}

.cdk-column-selected {
  & > .bs-radio-group,  & > .subject {
    @include valign-item;
  }

  & > .bs-radio-group {
    padding-right: 8px;
  }
}

.cdk-column-term {
  width: 256px;
}

.cdk-column-registerDate {
  width: 128px;
  text-align: center;
}

.cdk-column-change, .cdk-column-delete {
  @include button-column;
}
