.bs-radio-group {
  white-space: nowrap;
}

/* Top-level host container. */
.bs-radio-button {
  display: inline-block;
}

/* Inner label container, wrapping entire element. */
/* Enables focus by click. */
.bs-radio-label {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1;

  /* reset bootstrap */
  font-weight: inherit;
  max-width: none;
  margin-bottom: 0;}

/* Container for radio circles and ripple. */
.bs-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px /* bs-radio-size */;
  height: 20px /* bs-radio-size */;
  
  vertical-align: middle;
}

/* The outer circle for the radio, always present. */
.bs-radio-outer-circle {
  box-sizing: border-box;
  height: 20px /* bs-radio-size */;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px /* bs-radio-size */;
  border: 1px solid;
  border-radius: 50%;

  border-color: rgba(0, 0, 0, .75);
}

.bs-radio-checked .bs-radio-outer-circle {
  border-color: #101010 /* bs-radio-default-color */;
}

.bs-radio-disabled .bs-radio-outer-circle {
  border-color: rgba(0, 0, 0, .38) /* bs-radio-disabled-color */;
}

/* The inner circle for the radio, shown when checked. */
.bs-radio-inner-circle {
  background-color: #101010 /* bs-radio-default-color */;
  border-radius: 50%;
  box-sizing: border-box;
  height: 20px /* bs-radio-size */;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px /* bs-radio-size */;

  transform: scale(0);
  -ms-transform: scale(0);
}

.bs-radio-checked .bs-radio-inner-circle {
  transform: scale(0.5);
  -ms-transform: scale(0.5);
}

.bs-radio-disabled .bs-radio-inner-circle {
  background-color: rgba(0, 0, 0, .38) /* bs-radio-disabled-color */;
}

/* Text label next to radio. */
.bs-radio-label-content {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  padding-left: 8px /* bs-toggle-padding */;
  padding-right: 0;
  font-weight: inherit;
}

.bs-radio-button:not(.force-padding) .bs-radio-label-no-padding {
  padding-left: 0;
}

.bs-radio-disabled .bs-radio-label-content {
  color: rgba(0, 0, 0, .38) /* bs-radio-disabled-color */;
}

/* Alignment. */
.bs-radio-label-content.bs-radio-label-before {
  padding-left: 0;
  padding-right: 8px /* bs-toggle-padding */;
}

/* Basic disabled state. */
.bs-radio-disabled, .bs-radio-disabled .bs-radio-label {
  cursor: not-allowed;
}
