<!-- original: https://github.com/angular/material2/blob/master/src/lib/radio/radio.html -->

<label [attr.for]="inputId" class="bs-radio-label">

  <div class="bs-radio-container">
    <div class="bs-radio-outer-circle"></div>
    <div class="bs-radio-inner-circle"></div>
  </div>

  <input #input type="radio" class="bs-radio-input cdk-visually-hidden"
    [id]="inputId"
    [checked]="checked"
    [disabled]="disabled"
    [attr.name]="name"
    [required]="required"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    (change)="_onInputChange($event)"
    (click)="_onInputClick($event)">

  <!-- The label content for radio control. -->
  <div class="bs-radio-label-content" #radioLabel
    [class.bs-radio-label-no-padding]="!radioLabel.textContent || !radioLabel.textContent.trim()">
    <!-- Add an invisible span so JAWS can read the label -->
    <span style="display:none">&nbsp;</span>
    <ng-content></ng-content>
  </div>
</label>
