<ng-template #_root>
  <div class="footer__container">
    <ul class="nav nav-sidebar nav-hrz items-3 divider--top">
      <li>
        <a matIcon="battery_full"></a>
      </li>
      <li routerLink="/legacy/mail/conf" routerLinkActive="active">
        <a matIcon="settings"></a>
      </li>
      <li (click)="openModal(skinDialog)">
        <a matIcon="insert_photo"></a>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #skinDialog>
  <div class="dialog__container">
    <h3 class="dialog__title">
      스킨 설정
    </h3>
    <div class="btn-group dialog__content">
      <button type="button" class="btn btn-default"
        (click)="selectSkin('skin1')">스킨1</button>
      <button type="button" class="btn btn-default"
        (click)="selectSkin('skin2')">스킨2</button>
      <button type="button" class="btn btn-default"
        (click)="selectSkin('skin3')">스킨3</button>
    </div>
  </div>
</ng-template>
