.footer__container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__container > .nav-sidebar {
  margin: 0;
}

.nav-sidebar.divider--top {
  border-top-width: 3px;
  border-top-style: double;
}

.dialog__container:before {
  content: "";
  display: table;
}

.dialog__title {
  width: auto;
  /* margin-left: 20px; */
}

.dialog__title>span {
  vertical-align: middle;
}

.dialog__content {
  border-top: 1px #ddd solid;
}

.dialog__content>.btn {
  border: 0;
  border-radius: 0;
  width: 100px;
  height: 100px;
}
