@import 'mixins';

@mixin __hostStyle {
  text-align: left;
  display: block;
  padding: 10px 20px;
}

@mixin _mainMixin($isComponent: true) {
  @if $isComponent {
    :host {
      @include __hostStyle;
    }
  }
  @else {
    @include __hostStyle;
  }

  .dialog-actions {
    @include _footerButtons;
  }

  .search-controls {
    .search-bar {
      width: 256px;
    }

    .bs-checkbox {
      margin-left: 8px;
    }
  }

  .input-group {
    display: inline-table;
    vertical-align: middle;

    & > .input-group-btn {
      width: auto;
    }
  }

  .contacts-panel {
    white-space: nowrap;
    margin-top: 8px;
  }

  .contacts-lists {
    display: inline-block;
    vertical-align: middle;
    width: 512px;
  }

  accordion-group {
    header {
      position: relative;
    }

    .arrow {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: right;
      position: absolute;
    }
  }

  accordion-group .arrow:after {
    @include new-caret;
  }

  accordion-group.panel-open .arrow:after {
    @include new-caret-open;
  }

  .contacts-actions {
    display: inline-block;
    vertical-align: middle;
    width: 108px;

    & > .btn {
      display: block;
      width: 80px;
      margin: auto;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .contacts-results {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
  }

  .contact-item {
    @include _itemWithRemoveButton;
  }
}
