@import 'variables';

@mixin _header {
  padding: 20px $mainSidePadding 0 $mainSidePadding;
  height: $headerHeight;
  margin-left: -1px;
  border-bottom: $basicBorderStyle;
  overflow-y: hidden;
}

@mixin _headerTitleFontStyle {
  font-size: 18px;
  font-weight: bold;
}

@mixin _footerButtons {
  margin-top: 12px;
  text-align: center;

  & > .btn:not(:last-child) {
    margin-right: 4px;
  }
}

@mixin _itemWithSideContent($bg-color: null, $bg-color-hover: null) {
  background-color: $bg-color;

  &:hover {
    background-color: $bg-color-hover;
  }
  position: relative;
  transform: scale(1);
  padding: 0;

  & > .content-area {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  & > .side-content {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
  }
}

@mixin _itemWithRemoveButton($bg-color: null, $bg-color-hover: #f0f0f0) {
  @include _itemWithSideContent($bg-color, $bg-color-hover);

  .content-area {
    line-height: 24px;
    padding-left: 8px;
    margin-right: 36px;
  }

  .side-content {
    @include valign-container;
  }

  [role=button] {
    vertical-align: middle;
    color: #ff5d5d;
    border-radius: 4px;
    border: 1px #ff5d5d solid;
    background-color: #fff;
  }
}

@import './mixins/helpers';
@import './mixins/form-layout';
