$headerHeight: 98px;
$mainSidePadding: 40px;

$sideNavShadowWidth: 6px;

$basicBorderStyle: 1px #ddd solid;

$selectWidth_default: 128px;
$inputWidth_default: 192px;

/* form-layout *fl* */
$fl_labelWidth: 192px;
$fl_type2_rowHeight: 48px;
