.bs-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 180px;

  &:not(.override-style) .dropdown-root,
  &:not(.override-style) .dropdown-toggle {
    height: 100%;
    width: 100%;
  }

  .placeholder {
    color: #ddd;
  }

  .display-value {
    display: inline-block;
    height: 100%;
    width: calc(100% - 8px);
    line-height: 1; /* (IE) 값이 영문일 때와 한글일 때 bs-select의 높이가 미세하게 변하는 문제 해결 */
  }

  .display-arrow {
    display: inline-block;
    height: 100%;
    width: 8px;
  }

  /* https://github.com/valor-software/ngx-bootstrap/issues/2172 workaround */
  .dropdown-root {
    position: relative;
  }

  .__dropdown-ghost-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #{'rgba(0,0,0,0)'};
    cursor: pointer;
  }
}
