<div class="dropdown-root" dropdown (onShown)="_onAttached()" container="body" [isDisabled]="disabled">
  <div type="button" class="form-control dropdown-toggle">
    <div class="display-value">
      <span class="placeholder" *ngIf="empty; else nonEmpty">{{placeholder || '\u00A0'}}</span>
      <ng-template #nonEmpty>{{triggerValue}}</ng-template>
    </div>
    <div class="display-arrow">
      <i class="caret"></i>
    </div>
  </div>
  <!-- https://github.com/valor-software/ngx-bootstrap/issues/2172 workaround -->
  <div class="__dropdown-ghost-button" dropdownToggle *ngIf="__activated"></div>
  <ul *dropdownMenu class="dropdown-menu" role="menu" [style.height]="listMaxHeight" style="overflow-y: auto">
    <ng-content></ng-content>
  </ul>
</div>
