/*
  account_circle
  add_circle
  apps
  arrow_drop_down
  arrow_drop_up
  attach_file
  battery_alert
  battery_charging_full
  battery_full
  battery_std
  battery_unknown
  bubble_chart
  cancel
  check_circle
  chevron_left
  chevron_right
  clear
  contacts
  create_new_folder
  delete
  delete_sweep
  edit
  flag
  folder
  forward
  help
  insert_drive_file
  insert_photo
  keyboard_arrow_down
  keyboard_arrow_left
  keyboard_arrow_right
  keyboard_arrow_up
  label
  lock
  mail
  more_vert
  open_in_new
  priority_high
  recent_actors
  reply
  reply_all
  schedule
  search
  settings
  share
  star
  star_border
  star_half
  view_list
*/

/* .split('\n').map(el => el.trim()).filter((el, idx, self) => idx === self.indexOf(el)).sort().reduce((acc, cur) => `${acc}${cur}\n`, '') */

.material-icons.icon-stack {
  position: relative;
  display: inline-block;
}

.material-icons.icon-stack:before {
  content: "\e84d";
  /* placeholder */
  visibility: hidden;
}

.material-icons.icon-stack > .icon-stack-1 {
  position: absolute;
  top: -3px;
  left: -3px;
}

.material-icons.icon-stack > .icon-stack-2 {
  position: absolute;
  bottom: -3px;
  right: -3px;
}

.material-icons.icon-small,
.icon-small .material-icons {
  font-size: 20px;
}

.material-icons.icon-xsmall,
.icon-xsmall .material-icons {
  font-size: 16px;
}

.inactive .material-icons,
.inactive.material-icons {
  color: #bbb;
}

.material-icon-account_circle:before {
  content: "\e853";
}

.material-icon-add_circle:before {
  content: "\e147";
}

.material-icon-apps:before {
  content: "\e5c3";
}

.material-icon-arrow_drop_down:before {
  content: "\e5c5";
}

.material-icon-arrow_drop_up:before {
  content: "\e5c7";
}

.material-icon-attach_file:before {
  content: "\e226";
}

.material-icon-battery_alert:before {
  content: "\e19c";
}

.material-icon-battery_charging_full:before {
  content: "\e1a3";
}

.material-icon-battery_full:before {
  content: "\e1a4";
}

.material-icon-battery_std:before {
  content: "\e1a5";
}

.material-icon-battery_unknown:before {
  content: "\e1a6";
}

.material-icon-bubble_chart:before {
  content: "\e6dd";
}

.material-icon-cancel:before {
  content: "\e5c9";
}

.material-icon-check_circle:before {
  content: "\e86c";
}

.material-icon-chevron_left:before {
  content: "\e5cb";
}

.material-icon-chevron_right:before {
  content: "\e5cc";
}

.material-icon-clear:before {
  content: "\e14c";
}

.material-icon-contacts:before {
  content: "\e0ba";
}

.material-icon-create_new_folder:before {
  content: "\e2cc";
}

.material-icon-delete:before {
  content: "\e872";
}

.material-icon-delete_sweep:before {
  content: "\e16c";
}

.material-icon-edit:before {
  content: "\e3c9";
}

.material-icon-flag:before {
  content: "\e153";
}

.material-icon-folder:before {
  content: "\e2c7";
}

.material-icon-forward:before {
  content: "\e154";
}

.material-icon-help:before {
  content: "\e887";
}

.material-icon-insert_drive_file:before {
  content: "\e24d";
}

.material-icon-insert_photo:before {
  content: "\e251";
}

.material-icon-keyboard_arrow_down:before {
  content: "\e313";
}

.material-icon-keyboard_arrow_left:before {
  content: "\e314";
}

.material-icon-keyboard_arrow_right:before {
  content: "\e315";
}

.material-icon-keyboard_arrow_up:before {
  content: "\e316";
}

.material-icon-label:before {
  content: "\e892";
}

.material-icon-lock:before {
  content: "\e897";
}

.material-icon-mail:before {
  content: "\e158";
}

.material-icon-more_vert:before {
  content: "\e5d4";
}

.material-icon-open_in_new:before {
  content: "\e89e";
}

.material-icon-priority_high:before {
  content: "\e645";
}

.material-icon-recent_actors:before {
  content: "\e03f";
}

.material-icon-reply:before {
  content: "\e15e";
}

.material-icon-reply_all:before {
  content: "\e15f";
}

.material-icon-schedule:before {
  content: "\e8b5";
}

.material-icon-search:before {
  content: "\e8b6";
}

.material-icon-settings:before {
  content: "\e8b8";
}

.material-icon-share:before {
  content: "\e80d";
}

.material-icon-star:before {
  content: "\e838";
}

.material-icon-star_border:before {
  content: "\e83a";
}

.material-icon-star_half:before {
  content: "\e839";
}

.material-icon-view_list:before {
  content: "\e8ef";
}
