@import 'mixins';

body.coco-legacy-mode {
  overflow-y: hidden; /* CKEditor 가 body 에 추가한 노드 때문에 발생하는 스크롤바가 생기는 문제를 수정 */

  a {
    cursor: pointer;
  }

  table {
    border-collapse: separate;
    margin-bottom: 0;
  }
}

.visibility_hidden {
  visibility: hidden !important;
}

.display_none {
  display: none !important;
}

.display_block {
  display: block !important;
}

.line-height_0 {
  line-height: 0 !important;
}

.line-height_1 {
  line-height: 1 !important;
}

.valign-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.valign-item {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.valign-container {
  @include valign-container;
}

.valign-item {
  @include valign-item;
}

.absolute-center {
  @include absolute-center;
}

.absolute-center-x {
  @include absolute-center-x;
}

.absolute-center-y {
  @include absolute-center-y;
}

.nbsp-1:before {
  content: "\00A0";
}

.nbsp-2:before {
  content: "\00A0\00A0";
}

.nbsp-3:before {
  content: "\00A0\00A0\00A0";
}

.nbsp-4:before {
  content: "\00A0\00A0\00A0\00A0";
}

input.placeholder-shown {
  color: #aaa;
}

/* ******************* */
/*                     */
/* @angular/cdk CUSTOM */
/*                     */
/* ******************* */

.coco-legacy-mode {
  cdk-table {
    display: table;
    table-layout: fixed;
  }

  cdk-row,
  cdk-header-row {
    display: table-row;
  }

  cdk-cell,
  cdk-header-cell {
    display: table-cell;
  }

  .cdk-visually-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;

    /* Avoid browsers rendering the focus ring in some cases. */
    outline: 0 !important;

    /* Avoid some cases where the browser will still render the native controls (see #9049). */
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
  }

  .cdk-overlay-container {
    z-index: 2000;
  }
}

/* ******************** */
/*                      */
/* ngx-bootstrap CUSTOM */
/*                      */
/* ******************** */
bs-modal-backdrop.modal-backdrop {
  z-index: 990;
}

modal-container.modal {
  z-index: 990;
  text-align: center;
}

.app-bs-modal.modal-dialog {
  display: inline-block;
  width: auto;
}

accordion-group {
  &:not(.panel-open) {
    cursor: pointer;
  }
}

/* ***************************** */
/*                               */
/* angular-tree-component CUSTOM */
/*                               */
/* ***************************** */
.coco-legacy-mode {
  .angular-tree-component {
    display: block;
  }

  tree-root.padding-reset .tree-children {
    padding: 0;
  }

  .node-wrapper {
    display: block;
  }

  .node-wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
  }

  .node-expander,
  .node-content-wrapper,
  .node-side-action {
    display: inline-block;
  }

  .node-content-wrapper:hover {
    box-shadow: none;
    border-radius: 0;
  }
}

/* ********************** */
/*                        */
/* bootstrap@3.3.7 CUSTOM */
/*                        */
/* ********************** */
.btn.btn-flat {
  border-radius: 0;
  border-width: 0;
  background-color: transparent;
}

.caret {
  padding: 0;
  border-bottom-width: 0;
  background-color: transparent;
}

.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px dashed;
}

.bs-chip {
  border-radius: 24px;
}

.bs-chip-text {
  vertical-align: middle;
}

.bs-error {
  display: block;

  padding: {
    top: 8px;
    bottom: 8px;
  }

  margin-bottom: 8px;
}
