<section class="receive-allow">
  <h3><span class="title">수신허용 </span><i matIcon="help"></i></h3>
  <div>
    <section class="email">
      <h4>수신허용 메일주소</h4>
      <div class="input-group">
        <input type="text" name="email" class="form-control" placeholder="메일주소" [formControl]="allowEmailControl">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="addAllowEmail()" [disabled]="allowEmailControl.invalid">추가</button>
        </span>
      </div>
      <div [class.hidden]="allowEmailControl.pristine || allowEmailControl.valid">
        <bs-error *ngIf="allowEmailControl.hasError('pattern')">
          Please enter a valid email
        </bs-error>
        <bs-error *ngIf="allowEmailControl.hasError('required')">
          Email is <strong>required</strong>
        </bs-error>
      </div>
      <ul class="list">
        <li *ngFor="let email of allow_email_list;let i=index;">
          <span class="content-area">{{email.email}}</span>
          <span class="side-content"><i role="button" class="icon-xsmall" matIcon="clear" (click)="deleteAllowEmail(i)"></i></span>
        </li>
      </ul>
    </section>
    
    <section class="domain">
      <h4>수신허용도메인</h4>
      <div class="input-group">
        <input type="text" name="domain" class="form-control" placeholder="도메인" [formControl]="allowDomainControl">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="addAllowDomain()" [disabled]="allowDomainControl.invalid">추가</button>
        </span>
      </div>
      <div [class.hidden]="allowDomainControl.pristine || allowDomainControl.valid">
        <bs-error *ngIf="allowDomainControl.hasError('pattern')">
          Please enter a valid domain
        </bs-error>
        <bs-error *ngIf="allowDomainControl.hasError('required')">
          Domain is <strong>required</strong>
        </bs-error>
      </div>
      <ul class="list">
        <li *ngFor="let domain of allow_domain_list;let i=index;">
          <span class="content-area">{{domain.domain}}</span>
          <span class="side-content"><i role="button" class="icon-xsmall" matIcon="clear" (click)="deleteAllowDomain(i)"></i></span>
        </li>
      </ul>
    </section>
  </div>	
</section>
  
<section class="receive-deny">
  <h3><span class="title">수신거부 </span><i matIcon="help"></i></h3>
  <div>
    <section class="email">
      <h4>수신거부 메일주소</h4>
      <div class="input-group">
        <input type="text" name="email" class="form-control" placeholder="메일주소" [formControl]="denyEmailControl">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="addDenyEmail()" [disabled]="denyEmailControl.invalid">추가</button>
        </span>
      </div>
      <div [class.hidden]="denyEmailControl.pristine || denyEmailControl.valid">
        <bs-error *ngIf="denyEmailControl.hasError('pattern')">
          Please enter a valid email
        </bs-error>
        <bs-error *ngIf="denyEmailControl.hasError('required')">
          Email is <strong>required</strong>
        </bs-error>
      </div>
      <ul class="list">
        <li *ngFor="let email of deny_email_list;let i=index;">
          <span class="content-area">{{email.email}}</span>
          <span class="side-content"><i role="button" class="icon-xsmall" matIcon="clear" (click)="deleteDenyEmail(i)"></i></span>
        </li>
      </ul>
    </section>
    
    <section class="domain">
      <h4>수신거부도메인</h4>
      <div class="input-group">
        <input type="text" name="domain" class="form-control" placeholder="도메인" [formControl]="denyDomainControl">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="addDenyDomain()" [disabled]="denyDomainControl.invalid">추가</button>
        </span>
      </div>
      <div [class.hidden]="denyDomainControl.pristine || denyDomainControl.valid">
        <bs-error *ngIf="denyDomainControl.hasError('pattern')">
          Please enter a valid domain
        </bs-error>
        <bs-error *ngIf="denyDomainControl.hasError('required')">
          Domain is <strong>required</strong>
        </bs-error>
      </div>
      <ul class="list">
        <li *ngFor="let domain of deny_domain_list;let i=index;">
          <span class="content-area">{{domain.domain}}</span>
          <span class="side-content"><i role="button" class="icon-xsmall" matIcon="clear" (click)="deleteDenyDomain(i)"></i></span>
        </li>
      </ul>
    </section>
  </div>	
</section>
  
<footer class="conf-actions">
  <button type="button" class="btn btn-success" (click)="save($event)">저장</button>
  <button type="button" class="btn btn-default" (click)="cancel($event)">취소</button>
</footer>
