<div class="well">
  스팸메일을 자동으로 분류할 수 있도록 스팸설정을 할 수 있습니다.
  <button class="btn btn-default">개인스팸화면</button>
</div>

<section>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">스팸 자동분류 설정</h3>
    </div>
    <div class="panel-body">
      <bs-checkbox [(ngModel)]="process1">받는사람, 참조에 내 메일주소가 없는 경우 스팸으로 분류</bs-checkbox>
      <p>
        해당 설정은 메일링리스트로 온 메일까지 스팸으로 분류할 위험이 있습니다.<br>
        구독하는 메일링리스트가 있을 경우, 개인스팸화면에서 수신허용을 선택하여 등록해주시기 바랍니다.
      </p>
      <bs-checkbox [(ngModel)]="process2">주소록에 없는 메일주소로부터 온 메일은 모두 스팸으로 분류</bs-checkbox>
      <bs-checkbox [(ngModel)]="process3">언어별 스팸 분류 설정 (제목과 내용에 외국어로 작성된 메일)</bs-checkbox>
      <p *ngIf="process3">
        <bs-radio-group [(ngModel)]="process3_type">
          <bs-radio-button value="0">모든 외국어 메일을 스팸으로 분류</bs-radio-button>
          <bs-radio-button value="1">스팸으로 분류할 언어 선택</bs-radio-button>
        </bs-radio-group>
        <br>
        <ng-container *ngIf="process3_type==1">
          <bs-checkbox [(ngModel)]="checked_lang.en">영어</bs-checkbox>
          <bs-checkbox [(ngModel)]="checked_lang.ja">일본어</bs-checkbox>
          <bs-checkbox [(ngModel)]="checked_lang.zh">중국어</bs-checkbox>
          <bs-checkbox [(ngModel)]="checked_lang.fr">불어</bs-checkbox>
          <bs-checkbox [(ngModel)]="checked_lang.ru">러시아어</bs-checkbox>
        </ng-container>
      </p>
    </div>
  </div>

  <h4>스팸메일함 설정</h4>
  <div>
    <div class="config-group">
      <div class="config-label">스팸신고 메일 처리</div>
      <div class="config-item">
        <bs-radio-group [(ngModel)]="inform_method">
          <bs-radio-button value="0">스팸메일함으로 이동</bs-radio-button>
          <bs-radio-button value="1">영구삭제</bs-radio-button>
        </bs-radio-group>
        <p class="desc">영구삭제한 메일은 복구되지 않습니다.</p>
      </div>
    </div>
    <div class="config-group">
      <div class="config-label">스팸메일함 보관 기간</div>
      <div class="config-item">
        <bs-select placeholder="선택하세요" [(ngModel)]="saved_term">
          <bs-option value="0">자동삭제안함</bs-option>
          <bs-option value="1">1일</bs-option>
          <bs-option value="5">5일</bs-option>
          <bs-option value="10">10일</bs-option>
          <bs-option value="15">15일</bs-option>
          <bs-option value="20">20일</bs-option>
          <bs-option value="25">25일</bs-option>
          <bs-option value="30">30일</bs-option>
          <bs-option value="35">35일</bs-option>
          <bs-option value="40">40일</bs-option>
          <bs-option value="50">50일</bs-option>
        </bs-select>
      </div>
    </div>
    <div class="config-group">
      <div class="config-label">보관기간이 지난 스팸</div>
      <div class="config-item">
        <bs-radio-group [(ngModel)]="oldspam_method">
          <bs-radio-button value="0">휴지통으로 이동</bs-radio-button>
          <bs-radio-button value="1">영구삭제</bs-radio-button>
        </bs-radio-group>
      </div>
    </div>
    <div class="config-group">
      <div class="config-label">이미지/링크 숨기기</div>
      <div class="config-item">
        <bs-checkbox [(ngModel)]="link_hide">숨기기</bs-checkbox>
        <p class="desc">스팸메일의 본문 링크와 이미지를 표시하면, 내 메일주소 정보가 노출될 수 있습니다.</p>
      </div>
    </div>
  </div>
</section>

<footer class="conf-actions">
  <button type="button" class="btn btn-success" (click)="save()">저장</button>
  <button type="button" class="btn btn-default">취소</button>
</footer>
