@import './common-style';

.well {
  margin-bottom: 10px; /* height-element-1 */
}

.panel {
  .bs-checkbox,
  .bs-radio-group {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
  }
}

.desc {
  margin: {
    top: 8px;
    bottom: 0;
  }
}

@include _doubleColumnForm_type1('.config-group', '.config-label', '.config-item');
