@import 'variables';
@import './common-style';

h3 {
  padding: 12px;
  background-color: rgba(0, 0, 0, .08);

  .title {
    vertical-align: middle;
  }

  .material-icons {
    vertical-align: middle;
  }
}

.bs-error {
  margin-top: 8px;
}


.email, .domain {
  display: inline-block;
  white-space: nowrap;
  width: 372px;
  margin: {
    right: 48px;
    bottom: 10px;
  }
}

.list {
  height: 128px;
  padding: 4px;
  margin-top: 10px;
  border: $basicBorderStyle;
  overflow-y: scroll;
  > li {
    display: block;
    @include _itemWithRemoveButton;
  }
}
